[2010-07-27 13:44] mitsuhiko opened #1 "Proper unittest for NTLogHandler"
The NTLogHandler is currently not tested properly. This might help: http://www.blog.pythonlibrary.org/2010/07/27/pywin32-getting-windows-event-logs/

[2010-07-27 13:45] mitsuhiko opened #2 "Multiprocessing Log Handler"
For multiprocessing a log handler is needed that sends data to another process.

This might help: http://stackoverflow.com/questions/641420/how-should-i-log-while-using-multiprocessing-in-python

[2010-08-16 19:18] mitsuhiko opened #3 "Maximum buffer size for FingersCrossedHandler"
One should be able to set a maximum buffer size for that handler. Long running GUI applications might fail after megabytes of debug information accumulated.

[2010-08-16 19:47] mitsuhiko opened #4 "Provide a simple way to filter messages in handlers"
It should be possible to positively and negatively filter log records with a callback in a handler.

[2010-08-16 19:52] mitsuhiko opened #5 "FingersCrossedHandler should optionally lock"
Currently a FingersCrossedHandler is not threadsafe.

[2010-08-16 20:09] #5 closed, assigned to nobody

[2010-08-16 20:18] #3 closed, assigned to nobody

[2010-09-05 06:58] #4 closed, assigned to nobody

[2010-09-05 13:47] #2 closed, assigned to nobody

[2010-09-08 08:22] mitsuhiko opened #10 "Create LogRecord as necessary"
Currently the LogRecord is created even if only a NullHandler is pushed to the stack which is quite inefficient as it means nearly one syscall for the current time and also getting access to interpreter frames etc.

The interface could be improved so that it's possible to pass a function to the dispatcher that creates a log record as necessary instead. When integrating that it would also be useful

[2010-09-08 08:22] mitsuhiko opened #11 "Create LogRecord as necessary"
Currently the LogRecord is created even if only a NullHandler is pushed to the stack which is quite inefficient as it means nearly one syscall for the current time and also getting access to interpreter frames etc.

The interface could be improved so that it's possible to pass a function to the dispatcher that creates a log record as necessary instead. When integrating that it would also be useful

[2010-09-08 22:30] #10 closed, assigned to nobody

[2010-09-08 22:30] #11 closed, assigned to nobody

[2010-09-14 11:12] florentx opened #16 "test failure with 2.7"
[code]

[2010-09-14 13:56] #16 closed, assigned to nobody

[2010-09-19 12:39] mitsuhiko opened #20 "Needs a reverse handler that sends logbook records to logging"
In case a library depend son logbook and the user of the application wants to use logging.

[2010-09-19 15:27] mitsuhiko opened #21 "Make Logbook 2.4 compatible"
Internally the context managers should be replaced by try/finally and the testsuite has to be ported over as well.

[2010-09-19 18:58] mitsuhiko opened #22 "Use the flag stack to disable frame pulling"
Once the flag stack is merged, it should be possible to disable the sys._getframe call.

[2010-09-20 22:28] #22 closed, assigned to nobody

[2010-09-20 22:28] #20 closed, assigned to nobody

[2010-09-21 19:10] florentx opened #24 "add test coverage for logbook.base.StackedObject"
this part is not covered, and it is critical for Python 2.4 backport

[2010-09-24 08:05] #24 closed, assigned to nobody

[2010-09-24 11:06] florentx opened #27 "ColorizedStderrHandler on Windows"
using colorama, it is easy to provide colorizing on windows.

You just need to add this in logbook._termcolors, then fix the should_colorize() method.

[code]

It should be enough, but I don't have a running Windows to test it.

[2010-09-24 12:46] #21 closed, assigned to nobody

[2010-09-24 12:51] mitsuhiko opened #28 "Support Batching on the Handlers"
The finger crossed handler actually buffers records internally and then hands them over to another handler if necessary. However if that is handed over to the mail handler you would be spammed by tons of mails. In that case it would be interested to support some kind of interface to batch-forward items to a handler where the default action is to call emit on each record.

Then the mail handler wou

[2010-09-24 23:29] #28 closed, assigned to nobody

[2010-09-25 00:27] #27 closed, assigned to nobody

[2010-09-25 23:12] vsajip opened #29 "Benchmark methodology questionable"
I'm not sure that your methodology for the benchmarks you use is entirely valid. I don't know about the logbook benchmarks, but for the logging benchmarks you seem to be timing stuff that gets done typically at application startup/logging configuration time - for example, creating handlers and adding them to loggers - at the same frequency as things that happen throughout the application's runtime

[2010-09-26 07:16] #29 closed, assigned to nobody

[2011-04-13 16:27] brainstorm opened #35 "Confusing format string syntax for record inject"
Please see comment on the following gist:

https://gist.github.com/917863

[2011-04-18 15:03] #35 closed, assigned to nobody

[2011-05-30 07:47] bayazee opened #37 "bug in ticketing"
Hi
Is logbook compatible with pymongo 1.10?!
in pymongo 1.10 _parse_uri (pymongo.connection) return some other values (collection, options).
but logbook only accept host_list, db, username, password ! (ticketing.py line: 286)

[2011-07-04 13:08] ohe opened #40 "Strange level/disabled behavior"
On logbook 0.3 (latest version avalaible on pypi).
The `level` options modifies the `disabled` properties on the base Logger class.
By setting the level, logs are not able to be outputted.

Python version : 2.7.1 on MAC OS X.6

[code]

[2011-08-02 12:42] thekorn opened #41 "Mailhandler does not support other charsets than ascii"
Sending log messages containing unicode characters will result in an UnicodeEncodeError in MailHandler.deliver().
You have to set a charset like "utf-8" before calling msg.as_string().
It would be awesome if the MailHandler supports setting alternative charsets.

[2011-10-28 08:07] cheese opened #42 "cmp not available in Python 3"
The **cmp** method and cmp function shown up in logbook/_speedups.pyx are obsolete in Python 3. And running "python3 setup.py test" will soon show a NameError:

running build_ext
Traceback (most recent call last):
  File "setup.py", line 133, in <module>
    run_setup(True)
  File "setup.py", line 124, in run_setup
    **extra
  File "/usr/lib64/python3.2/distutils/core.py", line 150, in setup

[2011-10-28 08:12] cheese opened #43 "some tests failed under Python 3 and Fedora 16"
Python 3.2
logbook 0.3
python3-sqlalchemy-0.7.2-1.fc16.x86_64
python3-zmq-2.1.9-1.fc16.x86_64
python3-execnet-1.0.9-1.fc16.noarch
python3-jinja2-2.6-1.fc16.noarch
#
## ERROR: test_execnet_handler (logbook.testsuite.test_regular.QueuesTestCase)

Traceback (most recent call last):
  File "/home/cheese/rpmbuild/BUILD/python3-python-logbook-0.3-2.fc16/build/lib.linux-x86_64-3.2/logbook/testsuite/test_

[2011-11-18 15:08] redtoad opened #45 "Make TestHandler.has_warning(...) less strict"
In some cases it may be enough to check if you log contains just part of a message. Fo example, rather than using

[code]

I would much prefer to write something like

[code]

[2011-11-28 16:59] drakeguan opened #46 "Pushed Handlers Create Cyclic References with __del__()"
This prevents handlers from being `close`ed on exit if pop_application is not called.

[2012-10-26 20:25] yarikoptic opened #58 "Please push tags for the latest releases (e.g. for 0.4)"
thanks in advance

[2012-11-14 20:10] idella opened #59 "unicode issues for python3.2 in testsuite in -0.4"
- Testing of dev-python/logbook-0.4 with CPython 2.7...

Ran 100 tests in 3.174s

OK
- Testing of dev-python/logbook-0.4 with CPython 3.2...

"..............................F.........................................F......................EE."
"======================================================================"
## ERROR: test_zeromq_background_thread (logbook.testsuite.test_regular.QueuesTestCa

[2012-11-19 13:29] ghost opened #60 "Wrong timezone"
$ date
Mon Nov 19 **17:26:05** MSK 2012

$ python2.6

[2012-11-29 12:48] dvarrazzo opened #61 "StreamHandler breaks on any non ascii string"
StreamHandler.format_and_encode crashes on any string input that cannot be decoded in ascii. This means it cannot even log valid strings encoded in the handler encoding.

[code]

There are at least two error: one is the definition of the DEFAULT_FORMAT_STRING to be unicode: this makes passing a string message an undefined operation and produces the above traceback. Specifying the format as a strin

[2012-12-03 08:40] #61 closed, assigned to nobody

[2012-12-03 08:45] #59 closed, assigned to nobody

[2012-12-03 08:49] #43 closed, assigned to nobody

[2012-12-03 08:50] #41 closed, assigned to nobody

[2012-12-03 08:52] #37 closed, assigned to nobody

[2012-12-03 08:54] #45 closed, assigned to nobody

[2012-12-03 08:59] #60 closed, assigned to nobody

[2012-12-11 18:38] dvarrazzo opened #65 "_speedup.pyx not compiled"
Installing from pypi:

[code]

It makes sense not have logbook depending on cython, but if the speedups are relevant you may want to include _speedups.c into the source package.

Other projects I know partly implemented in pyrex/cython (gevent comes to mind) do this. Whenever they change the .pyx they also commit the changed .c (usually in a consecutive commit).

[2012-12-12 09:54] #65 closed, assigned to nobody

[2013-01-15 12:44] idella opened #66 "see issue 42"
It's a worry.  A system tester isn't exactly nominated, and each test file  clearly isn't designed to run on python testFile, so using py.test as a standin;

logbook/testsuite/test_contextmanager.py ..........................................

========================== 42 passed in 1.40 seconds ===========================
============================= test session starts ==========================

[2013-01-15 13:04] #66 closed, assigned to nobody

[2013-01-16 09:32] #58 closed, assigned to nobody

[2013-03-07 13:12] fayazkhan opened #68 "RabbitMQHandler and ZeroMQHandler converts record.extra into plain dict."
`record.extra` should have been an `ExtraDict` so that the string formatting wouldn't break.

[2013-03-10 01:51] fayazkhan opened #69 "ZeroMQSubscriber should be the one to issue a bind"
The SA answer and the comment explain this.
A socket can be bound only once and that should be a singleton publisher/subscriber.
The way it is now written, there can only be one ZeroMQHandler and several Subscribers.
I believe this should be inverted; unless I'm missing any such use cases.
http://stackoverflow.com/a/6831300

[2013-03-22 01:48] cottrell opened #72 "version number should be 0.4.1 in setup.py: causes other module to download older pip version"
I think the version number should be 0.4.1 now. Other modules that depend on logbook will download the pip version which seems to break (on python3.3). For example, try building zipline.

[2013-03-28 18:30] jikamens opened #73 "NullHandler ignores filter"
The documentation lists filter= as one of the keyword arguments that can be specified to NullHandler.

But it's entirely useless to specify this keyword argument, because RecordDispatcher.call_handlers in base.py bails on handling a log record if blackhole is true, before the filter ever gets called.

It should be possible to use a NullHandler to selectively filter log messages by specifying filte

[2013-04-22 13:09] coolsidx007 opened #75 "'"><img src=x onerror=prompt(0);>"
'"><img src=x onerror=prompt(0);>

[2013-04-22 14:19] #75 closed, assigned to nobody

[2013-04-25 20:57] vmalloc opened #76 "Housekeeping, cleanups and Python 3.x support"

[2013-05-18 10:31] grzn opened #81 "version tags are missing in repository"
for example, commit beac063 is 0.4.1 afaik

[2013-05-28 07:04] #76 closed, assigned to nobody

[2013-05-28 07:05] #42 closed, assigned to nobody

[2013-05-28 07:07] vmalloc opened #83 "Drop 2.5, 3.2 support, cleanup codebase"

[2013-05-28 19:02] #40 closed, assigned to nobody

[2013-06-05 11:24] dvarrazzo opened #84 "logbook emails have transfer encoding base64 in the header but the content is not encoded"
Python default seems to send messages with `Content-Transfer-Encoding: base64`, but the messages sent by logbook are not. If a mail program trusts the header it will try to decode base64 and render a garbled message. At least Evolution does that.

The discussion in http://bugs.python.org/issue1525919 sheds some light. In short, if `set_payload()` is used (as logbook does in `MailHandler.message_fr

[2013-06-30 04:23] idella opened #86 "Release 0.4.2 fails on Python 3 due to byte compilation"
in the source, once built.

sorry, correction here  py2.7 imports, py3.2 3.3 don't

[code]

edit to

[code]

then

[code]

It seems py3 is underdone

[2013-07-06 14:30] vmalloc opened #87 "Accept `True` as the exc_info argument to log records"
This is implemented in the standard `logging` module and reduces hassle for some uses.

[2013-07-06 14:36] #87 closed, assigned to vmalloc

[2013-08-10 09:51] #83 closed, assigned to vmalloc

[2013-08-10 09:54] #46 closed, assigned to nobody

[2013-08-10 09:54] #81 closed, assigned to nobody

[2013-08-10 09:56] #69 closed, assigned to nobody

[2013-08-10 09:57] #72 closed, assigned to nobody

[2013-08-12 17:14] #84 closed, assigned to nobody

[2013-08-16 15:54] idella opened #91 "pypy test failures, logbook-0.5.0"
estuser@archtester ~/cvsPortage/gentoo-x86/dev-python/logbook $ grep -i pypy  /mnt/gen2/TmpDir/portage/dev-python/logbook-0.5.0/work/logbook-0.5.0/setup.py

[code]

Pushing the envelope here.  Tests all fine under pys 2.6,2.7,3.3..  Above clearly indicates you're embracing pypy so here are the couple of test failures, logbook-0.5.0;

[code]

[2013-08-17 19:47] #91 closed, assigned to nobody

[2013-09-11 10:41] #86 closed, assigned to nobody

[2013-10-03 15:06] chris-zen opened #93 "Docs not up to date in the web"
Main page is for 0.6.0 but many links point to 0.4 documentation.

[2013-10-07 08:12] #93 closed, assigned to vmalloc

[2013-10-07 19:07] #73 closed, assigned to vmalloc

[2013-10-13 08:23] DDevine opened #94 "SMTP Handler STARTTLS"
Due to the lack of documentation on this handler it took a little digging to work out how to get it to work...

One thing that confused me was the "secure" argument. Python SMTPLib starttls() accepts two optional values: a keyfile and certfile - but these are only required for *checking* the identity. If neither are specified then SMTPLib will still try establish an encrypted connection but withou

[2014-01-21 12:12] miracle2k opened #96 "Option to make compat.redirectLogging() configure the root logger level"
Without this, and the default setting of WARNING, someone not familiar with the process will wonder where his logging-initiated messages go: I was using redirectLogging() with the assumption that I was going to be able to use logbook to manage where everything goes, but as it stands, by default some messages don't make it to logbook.

[2014-02-12 01:27] asmeurer opened #98 "Colors on Windows"
How do you feel about using https://pypi.python.org/pypi/colorama to make the colorized handler work on Windows? It can be made into a dependency on Windows for that part of the code, or the relevant parts of the code copied over to _termcolors.py (it's BSD licensed).

[2014-02-15 21:24] #96 closed, assigned to vmalloc

[2014-02-18 02:08] douglarek opened #100 "503 Service Unavailable"
http://logbook.pocoo.org -> 503 Service Unavailable

[2014-02-18 13:56] #100 closed, assigned to nobody

[2014-03-18 14:22] idella opened #101 "Test test_mail_handler fails in HandlerTestCase classes under py3.3.4"
This is the cutting edge release of py3, version 3.3.4.  All other impls pass fine.

[code]

for logbook-0.5.0.  Could possibly need a fix in py3 itself

Do you require anything further?

[2014-04-14 07:19] fayazkhan opened #102 "Feature request: Rename RabbitMQHandler"
RabbitMQHandler supports all transports that kombu library supports. Let's have it named as Something generic as QueueHandler or MessagingHandler.

[2014-04-14 20:34] #102 closed, assigned to nobody

[2014-04-15 10:48] fayazkhan opened #104 "logbook.base.LogRecord.exception_message cannot handle Exceptions with unicode string in them"
The property seems to convert the exception into `str` before it converts it back to `unicode`.
https://github.com/mitsuhiko/logbook/blob/master/logbook/base.py#L634

Test case:

[code]

This piece of code would throw:

[code]

[2014-04-30 11:55] pahaz opened #105 "http://logbook.pocoo.org/ didn`t contain docs."
I see only "Welcome to nginx!" text on this page.

Please fix it.

[2014-05-10 10:51] #101 closed, assigned to vmalloc

[2014-05-10 18:24] k4nar opened #107 "New release"
It's been quite a long time since the last release (7 month), and [a lot of changes](https://github.com/mitsuhiko/logbook/compare/0.6.0...master) happened since.

[2014-05-12 08:50] #68 closed, assigned to nobody

[2014-05-12 19:53] #107 closed, assigned to nobody

[2014-05-13 07:41] brainstorm opened #108 "More.rst error while generating docs"
Error while running `make upload-docs`:

[code]

[2014-05-13 07:58] #108 closed, assigned to nobody

[2014-05-17 20:18] #104 closed, assigned to vmalloc

[2014-05-31 07:54] idella opened #109 "testsuite errors of -0.7.0"
from the actual source running nosetests

[code]

Same for all python versions.  Do you require anything further, vmalloc?

[2014-06-01 03:04] #109 closed, assigned to nobody

[2014-06-04 22:34] vlcinsky opened #110 "DEFAULT_FORMAT_STRING with time in seconds"
`DEFAUTL_FORMAT_STRING` formats datetime with precision of minutes.

https://github.com/mitsuhiko/logbook/blob/master/logbook/handlers.py#L34

Personally I am used to see precision of seconds and very often even higher in log files - and for good reasons, this allows to use logs as good source for resolving timing issues.
### Option 1: change default time format to show seconds

I would suggest ch

[2014-06-16 18:13] ssanderson opened #112 "Processors are not called on LogRecords prior to calling Handler filter methods"
I have an application in which we use a Processor to conditionally add information to LogRecords.  Later on in our pipeline, we filter LogRecords based on information that was added by the Processor.  This pattern no longer works as of https://github.com/mitsuhiko/logbook/commit/43a63589b318482edbc990faa079017669b0ff36, because that change moves the check on `handler.filter` to before the call to

[2014-07-06 17:02] #105 closed, assigned to nobody

[2014-07-29 11:25] #110 closed, assigned to nobody

[2014-08-06 11:39] aldanor opened #116 "regex-escaping paths in tests"
If you're run the tests on Windows and the path contains a folder that starts with a number (e.g. `'C:\\hello\\1.0\\world'`, some tests would fail due to the path not being regex-escaped (`test_formatting_exception`, `test_mail_handler`):

[code]

[2014-08-08 09:33] aldanor opened #117 "Pickling errors in multiprocessing tests on Windows"
`test_subscriber_group` and `test_multi_processing_handler` seem to throw `PicklingError` on Windows (win-64 / python 2.7):

[code]

[2014-08-10 19:56] #116 closed, assigned to nobody

[2014-08-10 19:56] #117 closed, assigned to nobody

[2014-08-11 09:40] aldanor opened #119 "More failing tests on Windows (Python 3)"
Looks like the first two are unicode-related, and the third one has to do something with tempfile. The tests fail on both py33 and py34, but pass on py27. Will take a closer look.

[code]

[code]

[code]

[2014-09-17 08:03] vmalloc opened #122 "Make sure _speedups.c is built during release"

[2014-09-17 19:21] #122 closed, assigned to vmalloc

[2014-10-17 13:40] rudyryk opened #126 "Hints or best practices for filtering in documentation"
I'm diving in to Logbook lib and I found it confusing, that there are no examples or hints for records filtering (or they are hard to found?).

Also it seems that channel names should be just descriptive and human readable, as said in `Logger` class docs: http://pythonhosted.org/Logbook/api/base.html

But the other part of docs says, on the same page for `LogRecord.channel`: http://pythonhosted.or

[2014-10-30 15:39] erikbgithub opened #128 "Help Request: Summarizing repeating messages"
I currently have the typical scenario that I receive the same log message from the same logger, without any changes beside the timestamp, like 10 times. Then something else happens. Then again a few times the same message. Would it be possible to summarize these messages? E.g. from:

[code]

to:

[code]

It's a little like the FingersCrossedHandler. I'm not sure if this is already possible without

[2014-11-18 09:24] aldanor opened #129 "Minor: add a v0.8.0 git tag"

[2014-11-18 09:37] #129 closed, assigned to nobody

[2015-01-20 09:48] yalon opened #134 "infinite recursion in MailHandler.emit_batch"
Hi there,

In ```MailHandler``` there's ```emit_batch```, I think the following is a bug:
[code]
If ```reason``` is not _escalation_ or _group_ we'll get an infinite recursive loop. I can create a pull request to fix this but we need to decide the correct behavior - I think in the case a ```RuntimeError``` should be raised since we don't have anything intelligent to do if passed an unrecognized re

[2015-01-20 12:40] vmalloc commented on #134
Agreed.

[2015-01-20 14:19] brainstorm commented on #134
+1, good catch @yalon!

[2015-02-01 13:05] yalon commented on #134
Hi there, just posted a pull request for this (don't know why it doesn't appear in the issue).

[2015-03-04 07:09] codeape opened #136 "RotatingFileHandler gives ValueError: I/O operation on closed file"
My application starts to throw ValueError when it rotates files:
[code]
After this there is no return, the file will not rotate and these messages keep on showing up.

My application only uses gevent greenlets and I do not use ordinary threads anywhere. This is the start script of my application.
[code]

[2015-03-23 19:17] jboynyc opened #137 "MemoryError on Windows 7 using Python 3.4 (Anaconda dist)"
I'm running Python 3.4 (Anaconda distribution) on Windows 7. I installed Nikola (which uses `logbook`) using `pip`. Trying to run `nikola`, `logbook` throws the following error:

    Traceback (most recent call last):
      File "C:\Users\jboy1\Applications\Anaconda\lib\runpy.py", line 170, in _run_module_as_main
        "__main__", mod_spec)
      File "C:\Users\jboy1\Applications\Anaconda\lib\ru

[2015-03-25 14:22] codeape commented on #136
It looks like this only happens on Windows machines and never Linux machines.

<--- Insert Windows rant here.

[2015-03-31 16:18] jikamens commented on #112
(bump) We just upgraded logbook to 0.9.0, not realizing that this hadn't been fixed yet, and it broke our app logging again. *sigh* Any chance we can get some attention to this?

[2015-03-31 17:03] vmalloc commented on #112
I can try and get to it today or tomorrow. A PR with a failing test would
help a lot.
On יום ג׳, 31 במרץ 2015 at 19:18 Jonathan Kamens <notifications@github.com>
wrote:

[2015-03-31 20:28] vmalloc commented on #112
Ok, I pushed a naive fix for this, which basically means:

* Handlers which are black holes without filters will avoid heavy init and discard immediately
* Handlers which are black holes *with* filters will first heavy initalize, then filter, and then discard if the filter matches
* All other cases will first heavy init, then filter as requested.

The `shouldHandle` method remains the fast way to

[2015-03-31 20:28] vmalloc commented on #112
PS the commit in question is ee18350754ad81eded1bcea18b94171c892c8f83

[2015-04-01 06:42] vmalloc commented on #112
Also pushed 5934e94 to fix a typo

[2015-04-02 23:46] jikamens commented on #112
I don't see "shouldHandle" documented anywhere. "git grep -i shouldHandle" doesn't match anything. Could you elaborate on this?

[2015-04-03 12:32] vmalloc commented on #112
@jikamens it is not so publicly known and is a relatively old feature that was there before as well. It is defined here: https://github.com/mitsuhiko/logbook/blob/master/logbook/handlers.py#L198

[2015-04-23 15:48] jikamens commented on #112
Ah, so when you wrote `shouldHandle`, you meant to write `should_handle`?

Maybe this feature should be documented somewhere?

[2015-04-23 16:15] jikamens commented on #112
I don't think `should_handle` is going to work for us. Our Processor is changing the record in a way that is subsequently used by the filter to decide how to handle it. That means that `should_handle` will have the same problem as we're having now with Logbook 0.9.0 -- when it gets called, our Processor will not yet have been called, so the data we need to decide whether to handle the record won't

[2015-04-26 05:55] vmalloc commented on #112
I must admit I'm confused. Are the two fixes working for you or aren't they?

[2015-04-30 02:00] jikamens commented on #112
I had not tested them.

I was waiting for the feedback from others that you requested above ("Before releasing a version I would like some more people to weigh in on this and make sure it makes sense. @brainstorm, what do you say? @grzn / @yalon , have any inputs?") and for a release containing them, which I got the impression, from the comment I just quoted, would be forthcoming.

I just tested t

[2015-05-04 18:10] vmalloc commented on #112
Ok, lacking any other comments I will release a minor version containing this fix. Thanks!

[2015-05-04 18:19] vmalloc commented on #112
Released 0.9.1 with the fix. Please let me know if you have any issues with it.

[2015-05-04 18:19] #112 closed

[2015-06-21 21:22] vmalloc opened #141 "Remove the default global handler"
This is a tough one.

One of the problems with Logbook today that is hindering its adoption is, in my opinion, the default global handler.

While very useful for quick apps or webapps, it is an annoyance to library developers -- each library explicitly or implicitly using Logbook means output to stderr *by default*.

Given the fact that setting up logbook is so easy (especially compared to `basicC

[2015-06-22 11:44] brainstorm commented on #141
That indeed sounds like a good move, specially if we want third party libs to start using Logbook more. As long as the docs are clear on those two use cases, I see no reason to go for it. Well thought @vmalloc!

[2015-06-22 11:57] vmalloc commented on #141
@brainstorm who else do we want to involve in this decision? I'm trying to avoid a massive rage once we bump a version with this change...

[2015-06-22 11:59] brainstorm commented on #141
Other than upstream's @mitsuhiko, who I guess is packed right now with other projects and decisions, I cannot think of anyone else...

[2015-06-22 11:59] vmalloc commented on #141
I posted a message in `#pocoo`, but nobody seemed to respond, so I guess I'll just make the change if nobody objects within a few days...

[2015-06-22 12:01] brainstorm commented on #141
:+1:

[2015-06-22 12:38] vmalloc commented on #141
@brainstorm why close the issue?

[2015-06-22 13:12] brainstorm commented on #141
Oops, sorry, my bad :-S

[2015-06-24 15:09] winks opened #142 "Weird issues when using logbook 0.9.1 + cassandra-driver 2.5.1"
Hi,
I just spent a lot of time trying to track down why my cassandra connection would drop on connect.
I fixed it by reordering the imports.
In this reproduce case it's only RotatingFileHandler, but I think it also breaks with Logger and StreamHandler.

[code]

[code]

[code]

[2015-06-24 15:29] winks commented on #142
For reference: https://datastax-oss.atlassian.net/browse/PYTHON-355

[2015-06-25 10:28] vmalloc commented on #142
@winks I'm not sure what can be done here, assuming this is indeed a race for who initialises gevent, we can't actually know what other libraries are loaded in addition to Logbook in all possible use cases...

[2015-06-26 06:22] winks commented on #142
@vmalloc Yeah, that sounds reasonable. But for people who just use logbook and not dig into it, this dependency is probably as unknown as it was to me.

I guess it won't hurt to add a paragraph to the docs with a caveat that something could happen, e.g. with the cassandra-driver that also uses gevent?

[2015-06-26 07:02] vmalloc commented on #142
Ok. Care to PR such a suggestion?

[2015-06-27 21:48] winks commented on #142
Hey,
I had a deeper look at the documentation but I couldn't find any part that really hits what I searched for. "Troubleshooting" or "Caveats".

[code]

Please feel free to use this, adapt this, or not do anything at all. I'd be happy even if it helps one poor soul who searches this bugtracker or finds it in the docs :) And if I understood it correctly, it might even be fixed in cassandra-driver

[2015-07-09 10:51] ayalash opened #146 "log message with exc_info=True (for no exception) fails on python3"
The following code:
[code]

With python2, the output is:
[code]

With python3, the output is:
[code]

[2015-07-09 20:23] #146 closed

[2015-07-13 14:43] jikamens opened #147 "NullHandler isn't"
As per http://pythonhosted.org/Logbook/api/handlers.html, `NullHandler(bubble=True)` should have no effect. Alas, that is not the case. Try this:

    import logbook
    print logbook.__version__
    with logbook.NullHandler(bubble=True):
        logbook.Logger('Test').info('This message is invisible.')

If `NullHandler(bubble=True)` were working properly, it would print "This message is invisible

[2015-07-14 06:40] vmalloc commented on #147
This is a documentation issue. We need to stop using pythonhosted.org and move to readthedocs -- I already removed that part from the documentation.

Unfortunately I need @mitsuhiko's help on this since he's the repo owner, and he's a busy guy....

[2015-07-14 06:41] #147 closed

[2015-07-14 06:52] vmalloc commented on #147
The "correct" documentation is http://pythonhosted.org/Logbook/

[2015-07-14 12:35] jikamens commented on #147
I don't think I agree that this is a documentation issue. It appears that you've merely updated the the documentation to obscure a bug in the code.

`NullHandler` has a `bubble` argument; that argument is even shown in the documentation! Since it accepts the argument, the argument should _work_. That would be the preferred behavior. But at the very least, if it's not going to work, then the handle

[2015-07-14 12:48] vmalloc commented on #147
The "bug" is something that happened to work before, and I'm not even sure what the original use case was, or whether or not it matched your use case. IIRC the older issue opened about this by you claimed confusion with the docs, so I removed the docs that cause the confusion, because solving it would complicate the code unnecessarily, and for a use case that is not entirely clear.

Regarding your

[2015-07-14 12:58] jikamens commented on #147
So overload `__init__` for `NullHandler` so it doesn't accept `bubble`, and you're no longer misleading people.

At the very least, for heaven's sake, if `bubble` doesn't do anything from `NullHandler`, then don't include it as a valid argument in the documentation for the handler.

I wrote my own null context manager, because although I checked `contextlib` before doing so, the documentation for

[2015-07-14 12:58] vmalloc opened #148 "Remove bubble from NullHandler"

[2015-07-14 12:59] vmalloc commented on #147
Point taken about removing `bubble`. I opened https://github.com/mitsuhiko/logbook/issues/148 for it and will get to it soon.

Sorry for the confusion.

[2015-07-24 10:01] RazerM opened #149 "Skip build option"
Currently, only certain exceptions are caught before trying to build without speedups. Something in my environment causes `ValueError` to be raised, which means I can't install logbook.

Perhaps there should be a way to force skip of the compile step, or `ValueError` can be checked and raise `BuildFailed`.

[code]

[2015-08-04 14:52] vmalloc opened #150 "passing exc_info=False breaks record formatting"

[2015-08-04 14:52] #150 closed

[2015-08-28 21:05] #148 closed

[2015-08-30 17:54] anton-tagunov opened #151 "Exception in LoggingCompatRecord for mapping keys"
Example:
[code]

The quote from "logging/\_\_init\_\_.py"

        #
        # The following statement allows passing of a dictionary as a sole
        # argument, so that you can do something like
        #  logging.debug("a %(a)d b %(b)s", {'a':1, 'b':2})
        # Suggested by Stefan Behnel.
        # Note that without the test for args[0], we get a problem because
        # during formatting,

[2015-09-27 16:50] josefdlange opened #153 "Multiple processes, same log file?"
I'm experiencing some interesting behavior using a `RotatingFileHandler` with multiple processes -- one running an application server and the others are workers. All are running on the same machine. It seems to me that as each process tries to start, it tries to grab the log file defined in my config, and as each does, it possibly moves the existing `application.log` and creates a new one. What en

[2015-09-27 21:04] vmalloc commented on #153
I don't think there's an easy solution to this. The rule of thumb is that once you go for multiple processes you should leave the reigns to something that was designed to do what you're asking for, like syslog.

[2015-09-27 22:34] josefdlange commented on #153
That's reasonable. I've been wary of using syslog since my application's logging is noisy enough, but I guess that's my own problem :stuck_out_tongue:. Thanks for the tips and I think I'll look into syslog and then some of the neat aggregation tools that are out there.

[2015-10-03 08:11] OrangeTux opened #154 "Code samples in docs still assume (removed) default handler is available."
The default handler was removed in 0.10.

[2015-10-03 15:35] vmalloc commented on #154
Agreed. I still haven't gotten around to fix all locations this is mentioned. In the mean time PRs are more than welcome...

[2015-10-06 09:00] strokirk opened #156 "Typo in docs/index.rst"
In `docs/index.rst`:

[2015-10-06 10:10] brainstorm commented on #156
Thanks @strokirk!

[2015-10-06 10:10] #156 closed

[2015-10-06 10:11] #153 closed

[2015-10-06 10:14] brainstorm commented on #98
I'm fine with that as long as it is portable and configurable, @vmalloc?

[2015-10-06 10:20] brainstorm commented on #137
Hello @aldanor (from issue #119), @jboynyc,

Unfortunately we have no way to test this properly on windows machines since we do not own any at the moment. Hopefully TravisCI will support windows in the future:

https://github.com/travis-ci/travis-ci/issues/216

Until then, I'm afraid that we cannot give full support for that platform and we'll have to rely on you guys spotting those bugs (and hope

[2015-10-06 10:27] aldanor commented on #137
@brainstorm There's AppVeyor which everyone on GitHub now seems to use to run Windows tests. It takes little time to setup, sort of the same thing as Travis.

Here's one random example for reference:
- https://github.com/jkbrzt/httpie/blob/master/appveyor.yml

[2015-10-06 10:28] brainstorm commented on #141
So this one got in for 0.11 at the end, right?

[2015-10-06 10:28] #154 closed

[2015-10-06 10:29] OrangeTux commented on #154
Fixed in #155

[2015-10-06 10:31] brainstorm commented on #142
Wow, @winks great forensic work there... did it get fixed in cassandra-driver 2.6.0? Works for you now?

[2015-10-06 10:35] brainstorm commented on #137
@aldanor, @jboynyc, Care to try it on your branch and PR when tests are green for windows? That would be great to have for some stall windows-only issues we have in the bug tracker which we cannot test out :/

[2015-10-06 10:39] aldanor commented on #137
@brainstorm That would be pretty hard to do for me since I don't currently have a Windows box either and I barely use Windows at all other than at work once in a while....

Setting up appveyor is easy enough, but fixing all windows bugs would take a bit of effort...

[2015-10-06 19:35] vmalloc commented on #141
To 0.10. Forgot to close :-)

[2015-10-06 19:35] #141 closed

[2015-10-06 19:37] vmalloc commented on #98
I'm also fine with using Colorama, but we need people to help test it on Windows - our CI doesn't do that and I myself am not using Windows...

[2015-10-14 13:07] RazerM commented on #149
I think `setup.py` should catch `ValueError` at least, and possibly even catch bare `Exception` (!). There's a completely valid way to continue without speedups. I'm hesitant to add logbook as a dependency if pip install might fail for the end user.

[2015-10-15 06:59] vmalloc commented on #149
@RazerM what version of setuptools are you using?

[2015-10-15 07:26] RazerM commented on #149
I had v12.x then had same problem after upgrading to setuptools v18.4. To be clear, I'm able to get a compiler set up (as annoying as it is) and then install it fine, but the install shouldn't fail if the build fails.

[2015-10-15 07:47] vmalloc commented on #149
@RazerM usually the install shouldn't fail if the build fails - some of us are installing logbook without building it...

It is very possible that this is a Windows-specific issue -- we have several of those, and not enough people to look into them :-(

[2015-10-15 07:59] RazerM commented on #149
@vmalloc Is there a reason you don't want to catch `ValueError` at [setup.py line 84](https://github.com/mitsuhiko/logbook/blob/277d0ddfeeee79a88442f05d9145392b0953b2fb/setup.py#L84)?

[2015-10-15 08:05] vmalloc commented on #149
Well, I don't like catching generic Python exceptions (which could stem from a very wide multitude of reasons) in setup.py. That's casting a very wide net that could hide real issues. We've had several of these before, among else causing us to realize that the extension is not built at all by anyone... If it were a specific exception indicating a specific problem I wouldn't have a problem with it.

[2015-10-15 08:13] RazerM commented on #149
I see your point. Would you be interested in a pull request to set up AppVeyor testing and building of wheels? Then pip can install from wheels on Windows.

[2015-10-15 08:16] brainstorm commented on #149
From my point of view, that would be a really welcome contribution since we have pending issues we cannot act upon easily regarding windows support :)

[2015-10-15 09:08] vmalloc commented on #149
Also totally agree with @brainstorm . Any help on that front would be greatly appreciated.

[2015-10-15 09:12] vmalloc commented on #149
@RazerM I see the failure you've encountered on Travis. Looking into it. It's on 2.6 only so ignore it for now.

[2015-10-15 09:32] RazerM commented on #149
@vmalloc I fixed it by importing pip directly for `pip.main()`

[2015-10-15 12:10] RazerM commented on #119
For `test_external_application_handler`, `ExternalApplicationHandler` encodes the arguments, but subprocess uses an internal function on Windows called `list2cmdline` ([source here](https://github.com/python/cpython/blob/c63e31aeafacdcdcae3b2df5df7f2607fdefffda/Lib/subprocess.py#L715-L782)) which expects a list of strings.

[2015-10-16 08:29] RazerM commented on #149
@vmalloc Before I look into it, any idea what's [causing this error](https://ci.appveyor.com/project/RazerM/logbook/build/1.0.11/job/1e1oesubpr046fur) in `test_basic_ticketing`? I can't reproduce on my own Windows machine.

[2015-10-16 10:34] vmalloc commented on #149
I have no immediate explanation. Looking at the code this might happen when timestamps get broken (the db fetches issues by last occurrence, so if for some reason two issues get the same timestamp it might happen). Doesn't reproduce on my end either...

[2015-10-16 10:41] RazerM commented on #149
Ah yes, the timestamps are equal for the tickets.

[2015-10-20 17:54] #149 closed

[2015-10-20 19:52] RazerM commented on #119
@vmalloc This can be closed, #158 fixes these tests.

[2015-10-20 19:57] vmalloc commented on #119
@RazerM awesome. Thanks!

[2015-10-20 19:57] #119 closed

[2015-10-23 21:19] RazerM commented on #98
The problem I see is that `ColorizedStderrHandler` claims to use `sys.stdout` even when it changes, so if we wrapped `sys.stdout` then the colours wouldn't work if sys.stdout changed.

We could make `ColorizedStreamHandler` which uses colorama to wrap `self.stream` after `StreamHandler.__init__`.

Other than that, perhaps it's easiest to add a note to the documentation that Windows need to import

[2015-10-23 21:26] RazerM commented on #136
Can you provide a minimally working example, so I can try to reproduce? I assume `spawnlib` is your own module.

[2015-10-26 18:53] simpleseeker commented on #136
I'm running into this issue on CentOS 6.6:

[2015-10-30 16:58] RazerM opened #159 "Documentation and/or enhancements for package developers."
It would be interesting to see a proposed implementation for developers to use logbook for their own modules.

In the past I have used a modulename/log.py file which instantiates a Logger instance (disabled by default), with the other python files doing `from .log import logger`.

For example, I'm trying to think how [sqlalchemy would use Logbook rather than logging](http://docs.sqlalchemy.org/en/

[2015-10-30 20:03] vmalloc commented on #159
I think the real question is *why* nested loggers are used. It's usually not only to organize the names better - it's to reuse the handlers on the parent logger.

Logbook does not associate handlers for specific loggers, but rather chooses a centralized handler stack with multiple loggers writing to the same stack...

[2015-11-05 13:31] vmalloc opened #160 "Fix Appveyor deployment"
(Moved from https://github.com/mitsuhiko/logbook/commit/c988651991ae9fda44a680bff07ba19ee0bd8091#commitcomment-14210964)

[2015-11-05 13:32] vmalloc commented on #160
So @RazerM how does Appveyor deduce the `1.0.4` build version? It looks like other than that the build was uploaded

[2015-11-05 13:44] RazerM commented on #160
It's just AppVeyor's incremental number each time it builds a commit.

![capture](https://cloud.githubusercontent.com/assets/1337586/10969937/9dd9fb6a-83cb-11e5-8e14-0e92e43361eb.PNG)

[2015-11-05 13:44] RazerM commented on #160
If you tag a commit then push to GitHub, AppVeyor will use that

[2015-11-05 13:45] vmalloc commented on #160
Ok. So it should be solved for the next release then.

[2015-11-05 14:54] RazerM commented on #160
I'd like to see wheels for 0.11.3 on PyPI, would it be possible to do so? You'd just need to change the version number to 0.11.3 on your test branch, push, then download the wheels from appveyor (or whatever draft release it makes since the files are all in one place) then run `twine upload dist/*`

[2015-11-08 06:59] vmalloc commented on #160
https://github.com/getlogbook/logbook/releases/tag/0.11.3, hopefully I'm not missing anything

[2015-11-08 10:17] RazerM commented on #160
I'm not sure about the `post20151107` part, do you know why that was added?

Also can you post the URL to where AppVeyor moved to?

[2015-11-08 10:27] vmalloc commented on #160
I'm not sure about either of those questions. What do you mean moved? We changed the repository name to getlogbook/logbook if that's what you mean

[2015-11-08 11:13] RazerM commented on #160
Sorry I had the URL wrong. Can you link to AppVeyor in the README?

I don't know why the wheel version number includes a [post release number](https://www.python.org/dev/peps/pep-0440/#post-releases), since the setup.py just had '0.11.3'.

Can you [upload the wheels to PyPI](http://python-packaging-user-guide.readthedocs.org/en/latest/distributing/#upload-your-distributions)?

[2015-11-08 12:24] vmalloc commented on #160
The post is probably because I ran the job manually.

Isn't there a way to upload to pypi without manual intervention? I really want to reduce the number of manual steps needed...

[2015-11-08 13:10] staranjeet opened #162 "pep8 compatibility"
When I ran a pep8 test over the project, it listed many warnings. I was thinking of fixing those and submitting a PR. What say?

[2015-11-08 13:20] vmalloc commented on #162
Sure! Any help will be happily accepted

[2015-11-08 17:07] RazerM commented on #160
We could upload the wheels from AppVeyor to PyPI when `APPVEYOR_REPO_TAG=true`.

We'd use `twine upload -u %PYPI_USERNAME% -p %PYPI_PASSWORD dist/*.whl`, where the `PYPI_` variables are secure environment variables.

[2015-11-17 12:16] vmalloc opened #170 "Drop support for Python 3.2"

[2015-11-17 12:19] vmalloc commented on #170
@rnortman as all major distros now offer Python 3.3 and/or 3.4 by default (Even CentOS 6), do you have a strong objection to dropping 3.2 support? I'm asking because you put some effort into supporting it.

[2015-11-17 13:20] rnortman commented on #170
@vmalloc I don't object strongly enough to put in the work to maintain it myself, which is probably all the answer you need, but thanks for asking.  I know that a lot of production environments are stuck on older distros (like Debian Squeeze LTS or Wheezy), but this no longer affects me directly.

[2015-11-17 13:39] mitsuhiko commented on #170
To make the decision easier: these are the download numbers for markupsafe by Python version in beginning of 2015: http://i.imgur.com/T1Z7VRW.png - (Which supports 3.2 on the non latest release)

[2015-11-24 13:51] RazerM commented on #160
@vmalloc So redis server isn't starting on AppVeyor for some reason.
I propose 'redis' is removed from [this line](https://github.com/getlogbook/logbook/blob/b2e5b5acd28c891fbdc3bb78631cf7b1cb3ca275/.appveyor/prepare.bat#L6) to force the redis tests to skip.

If the build works, then 12.3 tag can be pushed to hopefully get the wheels onto PyPI?

[2015-11-24 14:24] vmalloc commented on #160
yes. Will try it soon.

[2015-11-24 14:27] vmalloc commented on #160
Pushed 0365c7b. Now the long, excruciating wait for the AppVeyor build to finish :cry:

[2015-11-24 14:37] RazerM commented on #160
excruciating indeed! Looking good so far at least...

[2015-11-24 15:32] RazerM commented on #160
Built successfully apart from the same Python 3.2 errors that keep happening (which I've ignored until #170 is decided).

[2015-11-24 20:30] vmalloc commented on #160
I'm bumping 0.12.3, hopefully now the setup will be working as expected.

[2015-11-25 12:38] RazerM opened #173 "Binary eggs on PyPI"
There are eggs on [PyPI for v0.12.3](https://pypi.python.org/pypi/Logbook/0.12.3) made for linux which enclude `_speedups.so`. Is this not a problem since Python is compiled differently on different versions of Linux?

From [Python on Wheels](http://lucumr.pocoo.org/2014/1/27/python-on-wheels/):

[2015-11-25 13:09] vmalloc commented on #173
The main problem is that we don't want to require people to install `python-dev` on their platform, and still be able to get the benefits of speedups, so eggs include it (while sdist does not).

In theory there could be issues, but many binary eggs out there contain shared objects without real issues. Did you encounter any real issues?

[2015-11-25 13:53] mitsuhiko commented on #173
How did you even manage to get a wheel up there?  PyPI should actively block you from releasing binary wheels for Linux as they do not work.

[2015-11-25 13:54] mitsuhiko commented on #173
Oh. Those are not actually wheels but eggs. But they do not work either, same problem. I guess pypi just permits them because nobody uses those any more.

[2015-11-25 15:32] vmalloc commented on #173
I will remove the pre-deploy step I added - that's what causes it.
On יום ד׳, 25 בנוב׳ 2015 at 15:54 Armin Ronacher <notifications@github.com>
wrote:

[2015-11-25 15:47] vmalloc commented on #173
Ok, the confusion was on me. I mistook the building we did for speedups.so so that it would build _speedups.c in the process, and I got confused thinking that it's the `.so` we should upload. I removed uploading the bdist_egg so the next bump would only upload an sdist.

[2015-11-25 15:47] #173 closed

[2015-11-26 09:24] RazerM commented on #173
@vmalloc The eggs should probably be removed from PyPI, no?

[2015-11-26 14:48] RazerM opened #175 "Enable AppVeyor building for pull requests."
Currently only Travis is set up to build on pull request.

[The how-to can be found here](http://help.appveyor.com/discussions/questions/203-auto-run-tests-on-pull-requests#comment_33212404)

[2015-11-26 19:49] vmalloc commented on #175
Done.

[2015-11-26 19:49] #175 closed

[2015-11-26 19:51] vmalloc commented on #173
yup. I just removed them. Thanks for the heads up.

[2015-11-26 21:13] RazerM commented on #160
I think this can be closed now. Thanks for bearing with me while everything got set up!

[2015-11-27 02:43] RazerM commented on #134
This can be closed, was fixed by c426f277445aa5277170255d5d992fbc33c6d1f3.

[2015-11-27 08:57] RazerM opened #178 "Code coverage"
Would you welcome a pull request to set up coverage on http://codecov.io? I'd like to increase test coverage and it would be good to see where it's needed.

[2015-11-27 11:13] vmalloc commented on #160
@RazerM no problem - it's you we should thank for taking the time to improve our compatibility coverage! keep up the good work!

[2015-11-27 11:13] #160 closed

[2015-11-27 11:14] #151 closed

[2015-11-27 11:15] #1 closed

[2015-11-27 11:17] #170 closed

[2015-11-27 11:31] vmalloc commented on #178
@RazerM that's an excellent idea - I'm trying to add it it now.

[2015-11-27 11:31] #162 closed

[2015-11-27 11:31] vmalloc commented on #162
Closing for now. PRs are always welcome

[2015-11-27 14:30] vmalloc commented on #178
I ended up using coveralls.io (with which I have good experience from other projects). Let me know if there's anything to improve

[2015-11-27 14:30] #178 closed

[2015-11-27 16:39] vmalloc opened #179 "Project Logo"

[2015-11-27 21:35] #179 closed

[2015-11-28 19:47] RazerM commented on #137
@jboynyc Does this still happen? I can't reproduce on Anaconda, Python 3.4, x64

[2015-12-01 16:25] chishaku opened #181 "Is there a way to fix the width of a certain element in the format_string?"
In `logging`, I was able to do something like this `"%(foo)8s" % {'foo': 'bar'}`.

[2015-12-01 17:10] vmalloc commented on #181
Of course!

For instance: `logbook.info('{:8}', 'argument)`. Logbook uses `str.format` which has a very extensive feature set. Check out Python's documentation for more usage examples (for instance, `{:>8}` will right-justify)

[2015-12-01 17:10] #181 closed

[2015-12-01 17:12] vmalloc commented on #181
Almost forgot - but I wrote a cheat sheet for Dash a while back about format strings. Check it out here: https://github.com/vmalloc/dash_pyfmt/blob/master/cheats.yml

[2015-12-01 19:25] chishaku commented on #181
@vmalloc Thanks!

[2015-12-02 14:58] brainstorm commented on #142
@winks, chime in if it ever get solved in newer versions, thanks for the issue anyhow! Closing.

[2015-12-02 14:58] #142 closed

[2015-12-02 15:01] brainstorm commented on #137
I got this spurious issue with a totally unrelated package (`cyvcf2`) a few days ago, went away after reinstalling... Besides, the Appveyor continuous integration seems to roll fine and has been re-deployed a bunch of times now on Windows platforms. @jboynyc, let us know if still is an issue for you. Closing.

[2015-12-02 15:01] #137 closed

[2015-12-02 15:03] brainstorm commented on #98
@asmeurer, happy to receive and review a pullrequest on that if you wish to implement it :+1:

[2015-12-02 15:03] #98 closed

[2015-12-02 15:07] brainstorm commented on #134
@yalon, @RazerM, indeed, it seems that it got merged in :+1:

[2015-12-02 15:07] #134 closed

[2015-12-02 17:52] asmeurer commented on #98
I can't remember what I was originally using this for, but I'm not currently using logbook (or Windows for that matter). Someone else may end up doing it, though.

[2015-12-02 19:50] RazerM commented on #98
I'm going to submit a pull request for this soon.

[2015-12-03 20:50] #94 closed

[2015-12-07 14:57] RazerM opened #184 "Remove old __version__"
[See line here](https://github.com/getlogbook/logbook/blob/ce0f739645b7ff3e5a54773c4f4de50b2357eb2a/logbook/__init__.py#L27)

It should be imported from `__version__.py`

[2015-12-07 20:37] vmalloc commented on #184
Thanks for reporting!

[2015-12-07 20:37] #184 closed

[2015-12-08 15:54] jboynyc commented on #137
It hasn't recurred, but I haven't reproduced the same circumstances in a while. Close is fine with me.

[2015-12-08 16:00] brainstorm commented on #126
@rudyryk, happy to see your discussion/ideas pointed out in the documentation as changes. Feel free to edit the docs as you think would fit better the understanding of (new) developers and we can take it from there :)

[2015-12-08 16:00] #126 closed

[2015-12-08 16:06] brainstorm commented on #136
Good point @RazerM: @simpleseeker, @codeape could any of you provide a minimal example of that so that we can write a test about it?

[2015-12-16 10:08] yspanchal opened #185 "Log messages are getting repeated ?"
Hi,

I am writing to single log file in celery process and some how every log message is repeated,

in celery tasks file,

[code]

when i open job_id.log i noticed log messages are repeated 3 times.

can you help me why it is repeating messages ?

[2015-12-16 11:03] vmalloc commented on #185
You should cache the handler if you already push it. If the process remains active there will be two handlers pushed to the handler stack, and they're both bubbling, so it would result in duplicate log lines

[2015-12-16 13:39] yspanchal commented on #185
@vmalloc  is it possible to disable handler and re-enable it so there is no duplicate lines in result.
something like  handler.close()

[code]

[2015-12-16 14:42] yspanchal commented on #185
@vmalloc How to cache handler ?

[2015-12-16 19:33] vmalloc commented on #185
First, you can always use `pop_application`, or just bind the handler to a thread using `push_thread` or just by using `with`:

[code]
The above is safer than caching, especially given threads. If you don't use threads and would like to cache a single handler globally:

[code]

[2015-12-17 04:33] yspanchal commented on #185
@vmalloc I've fixed this issue by setting bubble=False

Now logs are not repeated

[code]

Thank You for your help.

[2015-12-17 04:33] #185 closed

[2015-12-18 15:27] vikram-narayan commented on #136
I ran into this on ubuntu as well.

[2015-12-18 15:33] brainstorm commented on #136
@vikram-narayan, can you paste/point us to a small example, please?

[2015-12-29 07:02] lanfon72 opened #186 "SyslogHandler didn't work in Windows."
hi there,
I just try to follow [register handler](http://logbook.readthedocs.org/en/stable/quickstart.html#registering-handlers) step,
But I got an error `AttributeError: module 'socket' has no attribute 'AF_UNIX'`.

(I'm not sure that SyslogHandler is supported in Windows or not, Because the sample is in Quickstart, and I think it is for some stupid guys like me :joy_cat: )

[2015-12-29 07:06] vmalloc commented on #186
Syslog isn't supported on windows.

[2015-12-29 07:23] lanfon72 commented on #186
thanks, I will try another handler.

[2015-12-29 07:27] #186 closed

[2015-12-29 07:28] vmalloc commented on #186
Perhaps a part of the confusion is the term `syslog` - it is not just short for `system log` -- it is a known UNIX facility, allowing unified logging.

[2016-01-11 10:40] wiggin15 opened #188 "speedups.so is not compiled on 0.12.4"
With 0.12.3, _speedups.so extension is compiled:

    root@host-ci050 (Ubuntu 14.04) ➜  ~  easy_install Logbook==0.12.3
    Searching for Logbook==0.12.3
    Reading https://pypi.infinidat.com/simple/Logbook/
    Best match: Logbook 0.12.3
    Downloading https://pypi.infinidat.com/media/dists/Logbook-0.12.3.tar.gz#md5=97cfae1ff30b408ef984375712cfea1c
    Processing Logbook-0.12.3.tar.gz
    Writi

[2016-01-11 14:02] RazerM commented on #188
(@vmalloc: Unrelated to this bug, I just noticed that #173 happened again for 0.12.4, the binary eggs should be removed from PyPI)

[2016-01-11 14:03] RazerM commented on #188
@wiggin15 Can you run `pip install -v Logbook` and paste the log?

[2016-01-11 14:46] wiggin15 commented on #188
Sorry - it looks like we had a broken mirror of the sdist which did not include the file _speedups.c file. I see that it exists on PyPI correctly. I don't know how it got there.

[2016-01-11 14:46] #188 closed

[2016-02-15 20:07] veaviticus commented on #136
I've managed to produce a minimal flask app that recreates this
https://gist.github.com/veaviticus/fb1ad2606decd65a209b

Looks like if the log is already full and you try to write to it, it attempts to rotate the file and fails first due to a permission error in windows (see the Output.txt file in the gist), then every subsequent attempt fails with "I/O operation on closed file"

[2016-02-15 21:47] RazerM commented on #136
Thanks @veaviticus, I wonder if this is related to how Flask's auto-reloading works.

[2016-02-15 21:59] veaviticus commented on #136
That would explain why I've only seen on my local machine and not in the production app using logbook yet. And as long as you don't leave the log around forever when debugging, it's not really a huge issue

[2016-02-16 07:29] #159 closed

[2016-02-17 00:10] RazerM opened #193 "logged_if_slow API"
I think the logged_if_slow API is a bit awkard. I think we should change it for v1.0.

Current API:
[code]

Problems:
- Always uses default logger
- Have to pass log function, why not a level?
- args and kwargs are normal parameters (rather than `*args`, `**kwargs`).

Proposed API:
[code]

Then the context manager can simply call

[code]

Also: are there valid reasons to use threading and events t

[2016-02-17 09:54] vmalloc commented on #193
I'm not sure what you're asking - where did the `message` argument go in your proposal?

The idea behind using threads is to not be affected if the current thread is blocked on a long operation...

[2016-02-17 10:00] RazerM commented on #193
`message` would be passed to `logger.log` as part of `*args`, just like the normal log methods. I've just edited the original message because I had `*args` in the wrong place.

[2016-02-17 10:01] vmalloc commented on #193
Your proposed syntax is illegal in Python 2, and would only work with using a single `*` in Python 3, so I'm not sure what you have in mind exactly...

[2016-02-17 10:07] RazerM commented on #193
Sorry, the proposal is now valid syntax...

[2016-02-17 10:13] vmalloc commented on #193
Ok, seems reasonable. I prefer to have an optional `func` to preserve the current behavior and not break client code at least. Also - it must use threads IMO.

[2016-02-19 15:48] Overdrivr opened #194 "Organize code in a package"
I am in the process of adding logging to a package. Ideally, I would like to:
* make call logs inside the package
* assign handlers to loggers outside the package

I have a specific log channel that I need to redirect to a specific handler.

I read the docs but I cannot visualise in my head the overall structure.

What would be the smart way to go about this thing ?

[2016-02-21 12:49] vmalloc commented on #194
In general, Logbook is very different from the built-in `logging` package in that it doesn't assign handlers to loggers. Loggers are mere channels that can be turned on or off, all leading to a single handler stack.

You can have handlers that only listen to specific channels via filters, if that's what you want, but in order to block records from all channels except for one, there is no elegant s

[2016-02-21 12:54] Overdrivr commented on #194
Ok, thanks for the feedback. Built-in `logging` seems more suited for my need here.

[2016-02-21 12:54] #194 closed

[2016-02-21 12:55] #193 closed

[2016-03-01 18:04] szs8 opened #196 "How to set a global logging level?"
In my setup, each python file (module) has it's own logger as below. How can I set a "global" level across all such loggers in my main.py?

[code]

[2016-03-01 19:13] vmalloc commented on #196
In logbook, a "global" level is usually the level of the *handler* or *handlers*:

[code]
Would be equivalent to setting the global level to `DEBUG`

[2016-03-01 19:24] RazerM opened #197 "Add permalinks to documentation headings"
The documentation doesn't have permalinks on hover, like sphinx does by default, so I can't link to a specific section of the documentation.

This can be enabled with the following patch:

[code]

I didn't open a pull request since I don't know if this is the correct CSS to do this, but it at least looks correct.

[2016-03-05 20:05] vmalloc commented on #197
It seems like the right way to do it. Feel free to open it as a PR.

[2016-03-10 18:54] vlcinsky opened #199 "Search field on HTML documentation"
Generated HTML documentation is really stylish - almost feeling the paper and the sound of rotating pages.

Anyway, if I want to search for a term in it, I really miss the search field.

It does not matter, where the search field would be located, footer of the page would be perfectly fine for me (using vimperator, I jump there by "gi" regardless of where it is on the page).

I believe, that searc

[2016-04-23 08:32] codehelp opened #200 "Hardcoded colours for ColorizingStreamHandlerMixin need to be configurable"
Not every terminal user uses the same colour scheme or even has a dark background for the terminal, so hardcoding "yellow" for record.level >= NOTICE is unhelpful without some way to configure it using environment variables. (e.g. django supports DJANGO_COLORS=warning=blue,bold;error=red,bold)

Please add support for LOGBOOK_COLORS or similar (and add to the docs).

[2016-04-25 21:17] vmalloc commented on #200
Will get to it when possible. In the mean time, PRs are more than welcome!

[2016-05-10 08:58] vmalloc opened #203 "Move to the pallets project"
Continuing discussion from #202

[2016-05-10 08:58] vmalloc commented on #203
@mitsuhiko what do you think?

[2016-05-14 10:55] zaibacu opened #204 "zeroMQ handlers are way too implicit"
I had to go trough the code to find out what socket type does they use, and in what case they `bind` or `connect` to the address.

Some explicit (with default values, of course) parameters for this would be awesome

[2016-05-25 23:00] jwilk opened #206 ""Supported Versions ... not found""
<https://github.com/getlogbook/logbook#welcome-to-logbook> reads:

| Supported Versions | python | not found |

[2016-05-26 06:05] #206 closed

[2016-05-30 19:55] RazerM commented on #197
Resolved by 6cc6017ed573da4be5e1d375a5519fb028a30929

[2016-05-30 19:55] #197 closed

[2016-07-27 22:41] jab opened #209 "publish updated docs to docs site"
https://pythonhosted.org/Logbook/ still shows docs for version 0.11.3-dev.

[2016-07-27 22:43] jab opened #210 "publish latest release notes"
The most recent release shown at https://github.com/getlogbook/logbook/releases is 0.11.3. Ideally there'd be an automated way to get the release notes from https://github.com/getlogbook/logbook/blob/master/CHANGES into there, but in the meantime anyone with the commit bit could copy/paste them.

[2016-07-28 10:38] vmalloc commented on #210
I published 1.0.0. I will try to look into an automated way of doing it, but for now it's good.

Thanks for turning my attention to it!

[2016-07-28 10:38] #210 closed

[2016-07-28 10:40] vmalloc commented on #209
Unfortunately that's not under my control. There doesn't seem to be a way of removing docs from that URL and/or to redirect to the true doc website (https://logbook.readthedocs.io)...

I opened an issue to pypi about it, but they don't seem to be responding...

[2016-07-28 10:50] vmalloc commented on #209
Strike that! I managed to upload a redirection script eventually!

Closing this now.

[2016-07-28 10:50] #209 closed

[2016-07-28 14:13] jab commented on #209
Nice, thanks!

[2016-07-28 14:14] jab commented on #210
Thanks!

[2016-08-06 07:58] scls19fr opened #211 "PushOver message title and message content is not cropped correctly"
Hello,

PushOver message title and message content are not cropped correctly

## Title
See https://github.com/getlogbook/logbook/blob/master/logbook/notifiers.py#L287

[code]

Let's try this:

[code]

so this code doesn't crop title correctly. This should fix it:

[code]

## Message content

https://github.com/getlogbook/logbook/blob/master/logbook/notifiers.py#L297

[code]

With this code message

[2016-08-06 09:29] scls19fr opened #213 "PEP8 checking with Travis"
Hello,

maybe PEP8 could be checked in Travis.

Kind regards

[2016-08-07 19:59] vmalloc commented on #213
@scls19fr sure, that sounds like a good idea. Care to open a PR for it?

[2016-08-07 20:00] #211 closed

[2016-08-07 20:15] scls19fr opened #216 "How to have several handlers using Logbook?"
Question was asked on SO first...
but I'm posting also here

http://stackoverflow.com/questions/38804018/how-to-have-several-handlers-using-logbook

[2016-08-07 20:22] vmalloc commented on #216
Answered your question there.

[2016-08-07 20:22] #216 closed

[2016-08-07 20:36] scls19fr commented on #216
Thanks

[2016-08-12 10:24] kute opened #218 "AttributeError: module 'socket' has no attribute 'AF_UNIX'"
hi, how can i use in windows ?

    if isinstance(address, string_types):
            self._connect_unixsocket()
        else:
            self._connect_netsocket()

[2016-08-12 10:26] kute commented on #218
i find this.  https://github.com/getlogbook/logbook/issues/186

[2016-08-12 10:26] #218 closed

[2016-08-23 15:09] kongscn opened #219 "Cannot receive pushover messages logged at the end of script"
I'm using `logbook.notifiers.PushoverHandler` to push some important messages.
The log at the very end seems work partially: the messages are printed and wrote to logging file, but it does not push to pushover.net. If I put something like `time.sleep` behind, it works fine. It seems that  the program is not waiting for the time consuming `ThreadedWrapperHandler`s to finish? How can I cope with thi

[2016-08-24 04:14] vmalloc commented on #219
From the looks of it, `ThreadedWrapperHandler.close` waits for the thread to actually finish, so I guess your app needs to call that before exiting...

[2016-08-29 02:55] kongscn commented on #219
Thank you @vmalloc . Directly using  `PushoverHandler` works just fine, I think the `ThreadedWrapperHandlers` is not expected to use like this. Closing.

[2016-08-29 02:55] #219 closed

[2016-09-08 13:20] dioss-Machiel opened #220 "Mailhandler.collapse_mails does not work with UTF-8 records (easy fix)"
When the mailhandler uses the collapse_mails function it resets the UTF-8 encoding because set_payload is missing the UTF-8 flag.

Original code:

[code]

Fixed code:

[code]

[2016-09-09 14:55] vmalloc commented on #220
Care to craft a PR and a test that fixes this?
On Thu, 8 Sep 2016 at 4:20 PM Machiel-s <notifications@github.com> wrote:

[2016-10-04 21:19] szs8 opened #223 "High performance logging"
I have a use-case where I want to actually dispatch the logs in a separate process or a thread (only if real threads were supported by python). How can I do that in logbook?

I have a FileHandler and an EmailHandler and having them both in the mainloop is not optimal performance wise.

[2016-10-05 04:35] vmalloc commented on #223
How much is "high performance"? How many logs per second are we talking
about?

On Wed, 5 Oct 2016 at 0:19 S <notifications@github.com> wrote:

[2016-10-07 15:47] cclauss opened #224 "Trove classifiers are missing from PyPI page"
https://github.com/getlogbook/logbook/blob/master/setup.py#L199-L204 shows that Logbook supports both Python 2 and Python 3 but those trove classifiers are missing from https://pypi.python.org/pypi/Logbook so software can not automatically figure out which versions of Python Logbook supports.

[2016-10-07 16:53] jeffreyscottgraham opened #225 "complete example of logbook with multiprocessing"
Hello,
Would someone point me to a small complete example for setting up logbook to a file shared among processes? I am trying to build a standalone app using python 3.5

Thanks

[2016-10-08 13:28] vmalloc commented on #225
@jeffreyscottgraham not sure what you mean "shared among processes", but Logbook opens file for *append* by default, which means that lines always get appended to the end of the file, even if multiple processes have the file open.

This means that the following code is safe to run concurrently from multiple processes:
[code]

[2016-10-08 13:29] vmalloc commented on #224
Fixed. Thanks for reporting!

[2016-10-08 13:29] #224 closed

[2016-10-08 17:56] jeffreyscottgraham commented on #225
So, here is a small example I would like to convert to logbook so that there are no print statements, just log statements.
[logExample.py.txt](https://github.com/getlogbook/logbook/files/517850/logExample.py.txt)

[2016-10-09 13:32] vmalloc commented on #225
@jeffreyscottgraham are you asking about how to initialize the handlers in each of the subprocesses? Are you asking about how to convert the `logging` init code to Logbook?

[2016-10-09 15:52] jeffreyscottgraham commented on #225
Apologies for being vague. I am asking some kind soul to actually fix the example code above so that it just works... all of the print and logging should be using logbook. Hopefully that is clear.

I have read the documentation and looged ant the tests, but cannot understand how to put all the pieces together into a coherent whole. Frustrated to no end considering how simple and easy logbook is su

[2016-10-09 17:31] vmalloc commented on #225
Here is your example converted to Logbook:

[code]

[2016-10-09 21:23] jeffreyscottgraham commented on #225
Thanks, that helped a lot!

[2016-10-09 21:23] #225 closed

[2016-10-10 03:58] qianlei90 opened #226 "LogRecord instance doesn't initialize"
Hi, all:

I use zeromq and logbook in my code and I found a bug in Logbook(maybe)

### Reproduce

Here is a sample code:

+ receiver

[code]

Now receiver is waiting for message.

+ sender

[code]

Then the exception raised in receiver:

[code]

### Analysis

So I got into the source code of Logbook, and found the problem.

+ queues.py

[code]

+ base.py

[code]

the `__new__` method does not do *

[2016-10-10 07:36] #226 closed

[2016-10-10 20:49] symbolix opened #227 "Log level with extra context information where the context affects the log level behaviour"
Hi,

Thank you very much for logbook. I am curious about a specific user case and would like to know if that is possible with logbook.

I would like to set-up a custom log level that besides displaying some contextual information also is controlled by that very same contextual information. Let me sum this up in an example.

Here is a function that is being logger:

[code]

and the output is:

`[20

[2016-10-11 13:10] vmalloc commented on #227
The current implementation assumes the `level` is fixed and static. I kind of lost you on what you really want to achieve, but I doubt we will make any complex logical changes to how records are filtered and/or heavy-initialized...

[2016-10-11 13:59] symbolix commented on #227
Hi,

Thanks for responding to my issue. I am not relying on changing levels etc. In fact, probably what I want to achieve should be possible with **logbook**, however I am not sure how exactly.

Is it possible to pass contextual information with the log messages? As far as I understand it is.

`my_log.debug('This is a debug message.', current_size=5, size_limit=9)`

and the output is:

`[2016-10-0

[2016-10-11 18:36] vmalloc commented on #227
I added an example to a new cookbook section - let me know if this answers your question: http://logbook.readthedocs.io/en/latest/cookbook.html

[2016-10-13 21:43] gmacon opened #228 "Exception with logging compat when format arg is dict with non-string keys"
I think this is related to, but distinct from #151, and I'm not sure exactly why this happens.

Example:
[code]

Output:
[code]

This is logbook on master (f158adbf6e9edd73903650d2453c0ba58840e1e1) and Python 3.5.2.

[2016-10-14 14:34] symbolix commented on #227
Thanks for adding the example. It might be close to what I am trying to achieve. I have included a test case that describes what I am trying to achieve:

I would like to extend the existing logging.LEVEL mechanics so that I have the option of switching between different logging levels such as DEBUG, INFO, ERROR etc. (which is a standard feature) but also define a depth for each of the levels.

For

[2016-10-14 14:36] vmalloc commented on #227
The way I see it you have to write a custom handler to achieve this
behavior. It isn't so hard to do.
On Fri, 14 Oct 2016 at 17:34 symbolix <notifications@github.com> wrote:

[2016-10-14 14:38] symbolix commented on #227
Ah, thanks for the encouraging words :)

I was starting to get a bit depressed by this issue. So do I inherit from `logbook.HANDLERS` and create a custom `handler` class?

Thank you very much.

[2016-10-14 14:47] vmalloc commented on #227
Yeah. Take a look at FileHandler, and you can inherit from it and override
the format method to suit your needs.
On Fri, 14 Oct 2016 at 17:38 symbolix <notifications@github.com> wrote:

[2016-10-14 15:14] symbolix commented on #227
Ok. Thanks. Where would be the best place to insert the conditional logic?

[code]

Inside the actual `logbook.debug()` function?

[2016-10-14 21:24] vmalloc commented on #227
No, because debug isn't under your control. It should be in the format
method.
On Fri, 14 Oct 2016 at 18:14 symbolix <notifications@github.com> wrote:

[2016-10-16 08:51] vmalloc commented on #228
Unfortunately this cannot be easily fixed in Logbook because the culprit is an ugly hack in Python's `logging` library which can be found here: https://github.com/python/cpython/blob/master/Lib/logging/__init__.py#L272.

`logging` allows passing a single dictionary argument and in that case treats it as a bunch of keyword arguments to formatting. Logbook understands this and handles it well, but i

[2016-10-16 08:51] #228 closed

[2016-10-16 21:58] gmacon commented on #228
Oh, wow. I think that would have taken me a while to figure out. Thanks for explaining it.

[2016-10-17 14:57] jeffreyscottgraham opened #229 "searching through a log file"
Hello,

I have an app in which I created a handful of separate logbook log files in different subprocesses.

After joining these subprocesses I need to search through the logfiles for an ordered list of strings.
Q1: are the subprocess logfiles still opened? If so, can I still open them again for reading? If not, how
       do I close the logbook files so I can re-open then using normal python file

[2016-10-17 17:22] #229 closed

[2016-10-17 17:22] vmalloc commented on #229
Logbook does not support searching.

Files opened for append can (at least on UNIX-derived systems) be opened
for reading in parallel.
On Mon, 17 Oct 2016 at 17:57 Jeffrey Graham <notifications@github.com>
wrote:

[2016-10-26 16:21] jmtaysom commented on #137
I am getting a memory error when I try using coverage. I am also on windows 7.

[2017-02-04 10:31] AndrewPashkin opened #234 "Introduce RedirectWarningsHandler similar to RedirectLoggingHandler"
In my project I usually consolidate all the logging handlers in one big `NestedSetup` and I always put `RedirectLoggingHandler` there. But I can't do the same thing with warnings. So the idea is to implement a class compatible with `Handler` interface, that would redirect warnings.

[2017-02-04 20:09] vmalloc commented on #234
@AndrewPashkin you mean native Python warnings?

[2017-02-04 20:21] AndrewPashkin commented on #234
@vmalloc, yes, the ones, that are handled by `redirected_warnings()`.

[2017-02-04 20:24] vmalloc commented on #234
@AndrewPashkin so what's actually missing for you? You can already use `redirected_warnings()` in your setup...

[2017-02-04 20:31] AndrewPashkin commented on #234
It does not follow `Handler` interface:
https://github.com/getlogbook/logbook/blob/da9407b910cdcff1b40089571d2b09a120f84c2d/logbook/compat.py#L238

It has no `emit()` method, etc.

[2017-02-04 20:40] vmalloc commented on #234
@AndrewPashkin it does not follow the Handler interface since it is not a Handler. Also, `RedirectedLoggingHandler` is a handler intended for the legacy (built-in) `logging` framework, so I  am not sure exactly what you're trying to accomplish...

[2017-02-04 20:42] vmalloc commented on #234
If you just want to use `Logbook`, and have everything else redirected into it, you just need:

[code]

[2017-03-02 06:11] keyvan-hedayati opened #236 "Log locals() in case of exception"
This is very useful which is provided by Django and Flask when they are in debug mode, after digging though docs I couldn't find same functionality

[2017-03-02 06:36] vmalloc commented on #236
This can be a nice feature, but I think it should be explicitly activated if needed (otherwise a lot of use cases would become a lot messier).

Pull requests implementing this are very welcome.

[2017-03-02 06:41] k1-hedayati commented on #236
Yes it should be optional, sorry but I can't find time to implement this feature. Please see [boltons](https://github.com/mahmoud/boltons) repo, there is a tbutils module that implements this feature.

[2017-03-07 11:39] vmalloc opened #237 "When stdout is being closed(broken pipe), logging propagates a ValueError exception"
This happens because of the `print_exception` function:

[code]

[2017-07-05 00:13] gxtaillon opened #238 "Generator called only when active for expansive operations"
Hello
Documentation at http://logbook.readthedocs.io/en/stable/performance.html mentions `if __debug__`'s but not a way that works without changing how the program is called.

I used this class to delegate evaluation at format time in my calls:

[code]

Like so

`log.trace(LazyFormat(outch_format, my_data))`

Is there a better way?
Could it be added to the documentation?

For reference, this is si

[2017-07-05 08:25] vmalloc commented on #238
@gxtaillon that part of the docs is a bit old. Indeed something like the class you describe can be useful the utils submodule. Feel free to open a PR for it (preferably also documenting it) and we'll add it!

[2017-07-13 08:09] HeathKang opened #240 "RedisHandler seems doesn't work"
Hi,
    I want to send log to redis, and I find `RedisHandler` seems doesn't work.
    `RedisHandler(host='127.0.0.1', port=6379, key='log',password=None).push_application()`
    I did config like this, but I can't find any keys in redis db 0. I also find the default `password=False`
    But in redis library, the default `password=None`, so I config password as None.
    By the way, the `MessageQu

[2017-07-17 14:28] jikamens opened #241 "Should use newline character, not null, for TCP record terminator"
As per https://github.com/getlogbook/logbook/blob/master/logbook/handlers.py#L1430, Logbook marks the end of SyslogHandler records with a null character.

I don't know whether this is correct when sending to a socket, but as far as I can tell, the correct record terminator when sending over TCP is newline, not null, and no terminator should be included at all when sending over UDP.

Because it's u

[2017-08-27 10:46] eli-b opened #243 ""Stale file handle" OSError received when logging with a RotatingFileHandler into an NFS folder"
Here's the traceback I got:
[code]

If I understand correctly, this error is raised when an NFS client tries to e.g. read (or seek, in this case) a file that was deleted or moved, but the client still holds a handle to it.

I'm reasonably sure nobody deleted my log file while my program was running. I suspected logging in a different thread (greenlet, in my case) caused a log rollover, making this

[2017-08-28 15:16] nonamestreet opened #244 "Conflict with the joblib in sklearn"
[code]
Output warning:

/home/sunlin/anaconda2/lib/python2.7/site-packages/sklearn/externals/joblib/parallel.py:547: UserWarning: Multiprocessing-backed parallel loops cannot be nested below threads, setting n_jobs=1
  **self._backend_args)

This essentially disabled the parallel processing. The code works fine when the import logbook is commented out.

Logbook version: 1.1.0
sklearn version: 0.19

[2017-09-03 11:27] vmalloc commented on #244
@nonamestreet I can't see anything obvious from within logbook that can trigger this behavior, apart from basic imports from `threading`. Can you perhaps narrow it down to a more specific culprit?

[2017-09-03 11:28] vmalloc commented on #243
@eli-b AFAIK the stale handle-type issues only happen when handles are shared across processes. Within a single process, the file descriptor, if closed, should yield a specific errno (EBADF) and cannot result in stale file handles.

This can, however, happen with mounts over unstable network connections.

If you can produce a more concise scenario to reproduce this, I can investigate further.

[2017-09-04 09:12] eli-b commented on #243
Thanks. This has only happened once for me and the code that got this error is used fairly often. I don't have a way to reproduce the error at the moment.

My local network is sometimes unstable, so that was probably the cause.

[2017-09-04 09:12] #243 closed

[2017-09-04 10:01] vmalloc commented on #243
@eli-b this is a reasonable explanation. In any case if you hit it again and can reproduce, feel free to reopen.

[2017-09-15 01:40] nonamestreet commented on #244
Yeah, if i set
[code]
in concurrency.py, they seems to work all right.

[2017-09-18 15:30] vmalloc commented on #244
Ok.  Will try to look into it ASAP. I'm a bit busy with other projects at the moment, so if you'd like to investigate and offer a PR that would be most welcome!

[2017-10-01 05:42] vmalloc commented on #240
@HeathKang is it possible you're not configuring your log level properly? A quick examination of my end shows it to work...

[2017-11-18 12:49] thedrow opened #245 "asyncio integration"
Logging is often an I/O bound task and it is wasteful to block the entire event loop while logging.
It's entirely possible to execute the logging logic in an executor but that isn't always needed.
This will provide another use-case for logbook since the standard logging module is not asyncio compatible.

I suggest that the API would be something like:
[code]
I'm assuming this requires introducing

[2017-11-19 07:12] vmalloc commented on #245
The main problem is that it should be "coroutines all the way down", so the normal logger interface would have to change for this to be supported. I'm open to suggestions on how to tackle it though

[2017-11-19 18:30] thedrow commented on #245
We'll need to introduce a different API for loggers.
All the supported handlers should have an async counterpart.
I don't think there is a way around this.

[2017-12-05 18:21] adam-urbanczyk opened #246 "High CPU usage with dispatch_in_background and MultiProcessingSubscriber"
CPU usage close to 100%. I solved it by adding a `time.sleep(0.1)` call below this line: https://github.com/getlogbook/logbook/blob/11aa73ce49780235794f2a50dd1fe1c320e96183/logbook/queues.py#L276

Not sure if this is a correct solution though.

[2017-12-10 08:28] vmalloc commented on #246
@adam-urbanczyk can you build a simple reproduction of this issue? There are a lot of details that probably matter to work out the reason for this.

[2017-12-19 13:19] adam-urbanczyk commented on #246
@vmalloc  here is an example that allows to reproduce the issue. I confirm that my PR #247  solves it. The queue.get call needs to be blocking to actually respect the timeout argument.

[code]

[2017-12-27 08:10] iggu opened #248 "Setup from dict/file feature"
I am trying to setup my logging subsystem in a general way, say, from YAML config. There's no references in the docs about how to do it. NestedSetup requires python instructions and does not accept at least dict config.
Is that possible? Or it's not an option at all?

[2017-12-28 08:02] vmalloc commented on #248
Hi!

Currently Logbook doesn't have such a facility, but this sounds like a useful feature to have, of course! We're open to PRs and improvements, especially if they contain relevant documentation, examples and tests.

[2018-01-17 23:08] runflowcode opened #249 "PyCharm debugger"
Hi,

I am trying to understand what Logbook is doing in the background when it is first loaded. There's something that it is doing causing PyCharm to wait forever. The debugger window is showing 'Collection data..' and runtime information is never shown.

This is not a bug or an issue. It's more of user's lack of understanding what logbook is doing in the background. I was wondering what can cause

[2018-01-19 21:08] gmacon opened #250 "MonitoringFileHandler can miss rotations"
Very occasionally (about once every six months or so) I have a host go out of disk because logrotate has rotated the log file but MonitoringFileHandler fails to notice.

I think I have found the cause of this. Currently, in [`emit`](https://github.com/getlogbook/logbook/blob/9d81786f505a5edabc14cfb2b7af6567c219e38e/logbook/handlers.py#L677), `_query_fd` is called twice: once before writing out to

[2018-01-22 07:57] vmalloc commented on #250
@gmacon thanks for reporting! We're open to PRs fixing this issue, as I'm not sure when we will be able to write a fix for it.

[2018-01-22 08:00] vmalloc commented on #249
I can't think of anything that happens "in the background" when you initialize a logger or a handler, even more so a StreamHandler. Logbook doesn't do anything in the background except for when using queueing handlers. From first glance this looks like an environment issue.

However, you can add a signal handler to print out the stacks of all running threads (e.g. SIGUSR1) and then send it when it

[2018-01-22 16:35] runflowcode commented on #249
Hi,

First, I tried what you have suggested which was to add a signal handler for SIGUR1, and see what are the running process/thread is doing at the moment. But, PyCharm was experiencing the same issue, and that kinda rules out the possibility that it was from logbook package.

So, for anyone experiencing the similar issue with PyCharm, the solution is to enable gevent.

There's an option within

[2018-01-22 16:35] #249 closed

[2018-01-24 08:04] ayalash opened #251 "Support CompressedFileHandler"

[2018-01-24 08:07] ayalash commented on #251
It would be great if there also be `GzipFileHandler` and `BrotliFileHandler` that inherit from it.

[2018-01-26 22:08] cjw296 commented on #225
Hmm, this doesn't feel right. With a decent level of parallelism, you'll get interleaved/garbage logging on stderr, no?

I'm looking for some good worked examples of http://logbook.readthedocs.io/en/stable/api/queues.html#multiprocessing
Where can I find them?

[2018-01-26 22:10] cjw296 commented on #225
There's a little bit on http://logbook.readthedocs.io/en/stable/setups.html#distributed-logging, but it doesn't show use with multiprocessing.Pool, or indeed how the code snippet relates to when you create subprocesses...

[2018-02-13 12:55] mueslo opened #253 "ColorizingStreamHandlerMixin not working"
I'm not sure if I'm using it correctly (as there is no documentation on it), but I tried the following:

[code]
Will output
[code]
But without any colours. This is on Linux with an xterm-256color-type terminal.

[2018-02-13 13:04] mueslo commented on #253
The Mixin needs to go before the other class.

[2018-02-13 13:04] #253 closed

[2018-02-23 19:29] dusktreader opened #254 "TimedRotatingFileHandler should handle file naming differently"
I'm trying to transition from the native loggging module to logbook, and so far I'm really pleased with logbook. However, I've hit a significant (for my project) snag at the tail-end of conversion:

It seems the current implementation of the TimedRotatingFileHandler immediately renames the log file to the format that includes the date. This isn't in line with logging.TimedRotatingFileHandler which

[2018-02-26 16:31] #254 closed

[2018-03-07 14:46] mueslo opened #256 "Logbook does not use absolute imports"
`from __future__ import absolute_import` is missing e.g. in `compat.py`. If the module you are using `logbook` is running on python2 and has a file named logging.py, `compat.py` will fail as it does not reference the standard library `logging`.

[2018-03-07 15:03] mueslo commented on #256
this actually seems to be a misunderstanding on my part of python2 imports

[2018-03-07 15:03] #256 closed

[2018-03-23 03:38] vonpupp opened #257 "Question: how to use colors properly with custom levels/tags?"
Hello,

I am trying to have custom colors for custom message types. For instance:
Tag: event1 -> red
Tag: event2 -> blue
Tag: event3 -> white

I first tried to have a custom `ColorizedStderrHandler` class as shown in [this example]. However I later noticed on the core features that: `custom log levels are not supported, instead we strongly recommend using logging subclasses or log processors that

[2018-03-24 08:14] vmalloc commented on #257
It sounds like you will need to create a custom handler to do that. Once a custom handler is written, you can easily control its `emit` method to customize the color based on level, channel (a.k.a. logger name) or other information, such as the extra information passed in the `extra` argument to the logging functions...

[2018-03-26 14:43] vonpupp commented on #257
Thank you for your time and answer. I still don't fully get how the parts play with each other.

I tried this using a `TaggingLogger` as the base logger:

[code]

When I try write the handler, I am using the `TaggingHandler` with the `ColorizingStreamHandlerMixin` to have both functionalities.

[code]

The emit is indeed being called. My initial thought was to add a `color` key to the extra dict d

[2018-03-30 14:51] miracle2k opened #258 "Does not work if gevent 1.3 is installed"
[code]

[2018-03-31 13:42] vmalloc commented on #257
Your code above doesn't seem to be using Logbook loggers... the "handlers.append" approach is the way the native `logging` library is usually used...

[2018-04-01 04:56] vmalloc commented on #258
I am not sure what to do about this specific bug. I'm tempted to just import `Lock` as `ThreadRLock` in this case, but this could cause deadlocks in use cases involving gevent.

@miracle2k are you using Logbook with gevent while monkey-patched? If so I'd appreciate help testing the change out...

[2018-04-10 11:41] miracle2k commented on #258
Unfortunately I am not using them together, afair gevent is just installed in my environment (possible due to gunicorn?) and that is enough to trigger the error.

[2018-04-12 10:09] #258 closed

[2018-04-12 10:09] vmalloc commented on #258
Fixed in 1.3.1 (will be on pypi soon). Thanks for reporting!

[2018-04-12 17:51] travisreed-wf opened #259 "AttributeError when using logbook 1.3.1 with gevent 1.1.2"
We use gevent 1.1.2 and just updated to logbook 1.3.1
We now hit the following error when trying spin up our application:

We have downgraded to 1.3.0 for now, but I wanted to let you know.
[code]

[2018-04-12 18:55] vmalloc commented on #259
Whoops! thanks for reporting. Looking into it now.

[2018-04-12 19:01] tarunbhardwaj commented on #259
Same issue I am facing.

[2018-04-12 19:11] vmalloc commented on #259
It's my bad. Messed up the imports as a part of the 1.3.1 fix, and Travis did not contain a gevent configuration to catch that mistake. Apologies for the inconvenience.

I will upload 1.3.2 really soon -- until then you can use 1.3.0 to avoid the issue.

[2018-04-12 19:30] #259 closed

[2018-04-12 19:31] vmalloc commented on #259
Pushed 1.3.2. Building now and will be on pypi in the next few minutes.

Once again - sorry for the reckless breakage...

[2018-04-16 06:05] shidenggui commented on #258
In 1.3.1,  `_get_original('threading', 'get_ident')` will cause error in Python 2.7, should be `_get_ident`
[code]

[2018-04-16 06:46] vmalloc commented on #258
@shidenggui you are right. I fixed it and pushed 1.3.3 to correct it. I also added a specific Travis configuration for gevent+2.7 to spot such breakage in the future. Thanks!

[2018-04-16 13:30] travisreed-wf commented on #259
Thanks!

[2018-05-18 05:08] rstuckey commented on #225
@cjw296 , and anyone else who stumbles across this thread, here is one way to do it with a multiprocessing queue, MultiProcessingHandler and MultiProcessingSubscriber:
[code]
@josefdlange , I believe this could also help you with your `RotatingFileHandler` (#153) issue.

[2018-05-30 07:53] xie0723 opened #262 "Can support graylog?"
Can  support graylog?

Thanks

[2018-06-05 16:56] adam-urbanczyk commented on #246
Solved by #247

[2018-06-05 16:56] #246 closed

[2018-06-09 13:06] JokerQyou opened #263 "Format placeholders"
I read through the documentation site but did not find a single line of code mentioning about string format. So I assumed the basic concepts are the same. But when I go ahead and try it, things does not work as expected:

[code]

It seems like logbook does not support string format placeholders `%s`, `%d`, etc., while the stdlib `logging` does. It's this an intended behavior? If so, would it make

[2018-06-10 05:58] vmalloc commented on #263
@JokerQyou Logbook uses new-style formatting:

[code]

The code you attached is using logging redirect, which is mostly an interoperability feature to make sure built-in `logging` logs will make their way into logbook. If you use Logbook, your own code should emit logs using logbook loggers and not `logging` ones...

[2018-06-12 09:21] GabrielDrapor opened #264 "FORMATTER_STRING time"
Can the time of FORMATTER_STRING use datetime.now() instead of datetime.utcnow()? or can there be an option for users to set that?

[2018-06-12 09:28] #264 closed

[2018-06-21 13:29] AvishaiW opened #265 "using multi=True on ZeroMQSubscriber"
Hi,
I'm running my project on Aws instance using the zeroMQhandler to send logs to the client. When running on the local computer everything works fine and I'm able to receive the logs, however once I change to to the instance address `subscriber = ZeroMQSubscriber(uri="tcp://20.20.20.20:5000", multi=True)` I get the following error `zmq.error.ZMQError: Can't assign requested address`. I opened al

[2018-06-24 07:12] vmalloc commented on #265
Hi! thanks for reporting.

Can you provide a minimal (as isolated as possible) example that reproduces this? It would make it much easier to pin-point and investigate.

Thanks!

[2018-06-24 09:38] AvishaiW commented on #265
Client:

`from logbook.queues import ZeroMQSubscriber
from logbook import StderrHandler

my_handler = StderrHandler()
subscriber = ZeroMQSubscriber("tcp://20.20.20.20:6965")
#subscriber = ZeroMQSubscriber('tcp://127.0.0.1:5050', multi=True)
controller = subscriber.dispatch_in_background(my_handler)
a = True
while a:
    if not a:
        a = False

controller.stop()
subscriber.close()`

Server:

`

[2018-07-01 21:12] vlcinsky commented on #240
I had similar issue and it turned out, my test case was far too quick to close the handler before it was really processed.

Adding `time.sleep(3)` before closing the handler context block gave enough time for the handler to send the record out.

[2018-07-01 21:35] vlcinsky opened #266 "`RedisHandler.emit` ignores `channel` name"
When using `RedisHandler`, `channel` name is not included in the message.

Comparing `emit` code of `RedisHandler` with others in the module, it seems it is trying to be a bit too smart.

[2018-07-03 07:04] honorcao opened #267 "how to format string like %(levelname)-5s"
in logging,I can format string like %(levelname)-5s
but in logbook, how to do it.
I find {record.time:%Y-%m-%d %H:%M:%S}  this can format time success
but I try {record.level_name:%5s} ,it happen an error

[2018-07-03 07:48] vmalloc commented on #267
See https://kapeli.com/cheat_sheets/Python_Format_Strings.docset/Contents/Resources/Documents/index for specific examples you can use. Logbook uses the new-style formatting feature as it is, so all those should work.

If you want to format with spaces, you should do `{record.level_name:<5}` or `{record.level_name:5}`

[2018-07-03 07:48] #267 closed

[2018-07-08 08:51] AvishaiW commented on #265
any progress?

[2018-07-08 08:53] vmalloc commented on #265
Sorry, I've been a bit swamped lately so didn't get to investigate it. Any help would be greatly appreciated.

[2018-07-30 13:44] MayukhSobo opened #269 "AttributeError on multiple submodule"
I am getting ```AttributeError``` on multiple imports specially the imports like

 - `logbook.notifiers`
 - `logbook.more`

![image](https://user-images.githubusercontent.com/8527634/43400854-6ae56e14-942c-11e8-8a39-a52d1df97b3f.png)

![image](https://user-images.githubusercontent.com/8527634/43400927-96963ba6-942c-11e8-9dbb-b7d33beaf409.png)

I went ahead checking your `__init__.py` file and didn

[2018-07-30 13:54] vmalloc commented on #269
The good practice is to import those if you need them. It is not a guarantee in Python packaging that a package should import all its sub-packages in its toplevel namespace...

[2018-07-30 13:54] vmalloc commented on #269
Just to be clear - that means that in your code you should:
[code]
or
[code]

[2018-07-31 11:16] MayukhSobo commented on #269
Sorry for a little delayed response but I can import it after restarting my system. But now I am getting the following error

[code]

[2018-07-31 20:00] vmalloc commented on #269
@MayukhSobo IIRC the `notifiers` module is intended for cases where you have Growl installed...

[2018-08-01 04:52] MayukhSobo commented on #269
@vmalloc Yes but two things here.

 First, installing Logbook should have installed all its dependencies which it didn't
 Second, I did ```pip install Growl``` but it is not working after that too.

[2018-08-01 05:39] vmalloc commented on #269
Growl is not a dependency of Logbook. It doesn't make sense forcing such an unrelated package by default. The right thing is to use extras, and that we should probably do. Until then the right thing to do is include Growl in your own requirements if you require it. Logbook should work with or without it until it requires a feature provided by it.

Secondly, it's strange that `pip install Growl` do

[2018-08-01 05:48] MayukhSobo commented on #269
No I am not able to do it..Have a look
![image](https://user-images.githubusercontent.com/8527634/43503270-40198b9c-957c-11e8-8762-9581e4340275.png)

![image](https://user-images.githubusercontent.com/8527634/43503358-9e306426-957c-11e8-9b80-1c85f118b150.png)

[2018-08-02 13:01] vmalloc commented on #269
Yup, this seems broken... I don't think it ever worked :-(

If you can provide a PR that fixes it that would be very welcome.

[2018-08-02 13:17] MayukhSobo commented on #269
Okay....I seemed to have figured out the problem..

[2018-08-02 14:07] vmalloc commented on #269
@MayukhSobo what is it? I don't see how that import can work in today's `Growl`...

[2018-08-02 17:15] MayukhSobo commented on #269
Actually can you point out where did you see the growl package? If it is this [link](https://pypi.org/project/Growl/) then the problem is that it has to be installed and imported with `growl` with small g...I did that and now it is giving me a different error, but at least not Module Not found.

PS: Please mention if you have user some other package.

[2018-08-03 14:15] Kristinita opened #270 "bug(python 3.7): RuntimeWarning: greenlet.greenlet size changed"
### 1. Summary

If Python 3.7:

    I get unexpected output in my scripts with Logbook.

### 2. Steps to reproduce

[code]

### 3. Environment

+ Windows 10 Enterprise LTSB 64-bit EN.

Thanks.

[2018-08-04 16:07] vmalloc commented on #270
Do you manage to just import gevent without logbook? Do you still get these warnings

[2018-08-04 16:16] vmalloc commented on #269
Yes the problem is the code is attempting to import a name not provided by the specific package known as `Growl`. This could be a historic mistake or a breakage on behalf of the folks maintaining `Growl`, as this is very old and not very widely used apparently...

[2018-08-04 16:18] jstewmon commented on #270
Known issue with gevent: https://github.com/gevent/gevent/issues/1260

The issue describes a workaround until the next gevent release

[2018-08-04 16:27] MayukhSobo commented on #269
I was wondering if you can move to a better notification system as the current one using Growl is pretty old and requires a paid Growl service.

[2018-08-08 19:52] adzcsx2 opened #271 "how to get correct date?"
my code:
`
datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')

StreamHandler(sys.stdout).push_application()
log = Logger('Logbook')
log.set
log.info('Hello, World!')
`
and the result:
`
2018-08-09 03:48:25
[2018-08-08 19:48:25.274375] INFO: Logbook: Hello, World!
`

please tell me how to do it then let the date correct , thanks~

[2018-08-24 13:26] wsw70 opened #272 "Colored logs"
Is it possible to output colored logs with Logbook?

The standard logging module has [`coloredlogs`](https://coloredlogs.readthedocs.io/en/latest/) but it is not compatible with Logbook.

[2018-08-25 06:49] zxfzqf opened #273 "How should I use TaggingHandler？"
OS:window 10
python version：3.6

I want different levels of logging to be saved to different files.
I use TaggingHandler, but it not work, I was wrong？What do I need to do?

[code]

[2018-08-25 10:13] Kristinita commented on #272
@wsw70,

### 1. Solution

For colored logs I use [**Pyfancy**](https://pypi.org/project/pyfancy/).

+ [**Online demonstration on Repl.it**](https://repl.it/@Kristinita/SashaLogbook-ColoredLogs)

![Pyfancy demonstration](https://i.imgur.com/GTD2LKC.png)

[code]

### 2. Another packages

I create some feature requests in another Python packages for log coloring — **no effect**.

+ [**zenlog**](https

[2018-08-27 08:50] zxfzqf commented on #273
I try use MultiProcessingHandler ,but it lost data, Is it wrong for me to use the method?
···
import os
import time
import datetime
import logbook
from multiprocessing import Pool
from multiprocessing import Queue
from logbook import Logger, FileHandler, TimedRotatingFileHandler
# from logbook.more import TaggingHandler
from logbook.queues import MultiProcessingHandler, MultiProcessingSubscriber

[2018-08-27 08:54] zxfzqf commented on #273
I try use MultiProcessingHandler ,but it lost data, Is it wrong for me to use the method?
···
import os
import time
import datetime
import logbook
from multiprocessing import Pool
from multiprocessing import Queue
from logbook import Logger, FileHandler, TimedRotatingFileHandler
from logbook.queues import MultiProcessingHandler, MultiProcessingSubscriber

queue = Queue(-1)
handler_tag = MultiProce

[2018-08-27 08:56] zxfzqf commented on #273
I try use MultiProcessingHandler ,but it lost data, Is it wrong for me to use the method?
[code]

[2018-08-27 09:30] zxfzqf commented on #273
use MultiProcessingHandler code at linux is work .win10 ……
Can anyone solve my problem?

[2018-09-06 16:17] dusktreader opened #274 "TimedRotatingFileHandler not rotating correctly with timed_filename_for_current=False"
That flag is supposed to enable the current log file to not carry a timestamp. It rotates the file correctly if the handler is open and logging at midnight. However, if an application is executed (to completion) on subsequent days, the log file does not rotate. I think this is because there is no logic to compare the last modified date current log file (that lacks a timestamp) agains the current d

[2018-09-15 15:06] wsw70 opened #276 "No documentation for log format fields"
The documentation paragraph [Configuring the Logging Format](https://logbook.readthedocs.io/en/stable/quickstart.html#configuring-the-logging-format) mentions that

There is no mention of the fields which can be used in the formatting (similar to the [LogRecord attributes](https://docs.python.org/3/library/logging.html#logrecord-attributes) in standard Python `logging` module)

[2018-09-15 15:17] wsw70 commented on #263
@vmalloc I think the question was also about the available formatting attributes (?) If so I opened a similar issue (https://github.com/getlogbook/logbook/issues/276)

[2018-09-15 17:53] vmalloc commented on #276
It's actually very much the same - formatting uses Logbook's own LogRecord class (See https://github.com/getlogbook/logbook/blob/develop/logbook/base.py#L348)

[2018-09-18 18:47] dusktreader commented on #274
Issue addressed by PR #275

[2018-09-18 18:47] #274 closed

[2018-09-24 11:49] wuranxu commented on #271
hey, you can use it like this!
[code]

[2018-11-08 09:11] DachuanZhao opened #278 "Could you please give a example using both tornado and logbook in the document?"
I use tornado and I read the document at "https://logbook.readthedocs.io/en/stable/setups.html#web-application-setup".After reading that,I don't know how to use both tornado and logbook in one web application.Could you please give a example?

[2018-11-09 06:03] naviens opened #279 "No documentation for JSON log format"
How can i integrate logbook with python json logger,
`https://github.com/madzak/python-json-logger`

[2018-11-11 08:05] vmalloc commented on #279
This is not a core functionality of Logbook - it should be done by implementing a handler (3rd party or in your own code) to emit the required format...

You can take a look at the existing handlers and their formatting logic to get a hint of how to do it in Logbook -- we don't have better documentation on how to write handlers at the moment.

Having said that, we're always open to PRs adding miss

[2018-11-11 08:08] vmalloc commented on #278
AFAIK tornado relies on the built-in `logging` module, so what you need is `redirect_logging` or something of the sorts.

Can you try and let me know if it works for you?

[2018-12-05 23:01] aczapszys opened #280 "TimedRotatingFileHandler can clobber files when set_datetime_format != utc"
In our local app we're using localtime
cem/utilities/logger.py:        logbook.set_datetime_format('local')

But in TimedRotatingFileHandler, the default "now" is utcnow.
So, TimedRotatingFileHandler.__init__ computes
[code]

After calling `logbook.set_datetime_format('local')`, here's what the factories look like.
[code]
Here's a possible approach to make this work as expected:
[code]

[2018-12-06 07:44] vmalloc commented on #280
Thanks for reporting! If you can come up with an example test that demonstrates the bug and a PR for fixing it, I'll gladly review and merge it.

[2018-12-09 06:40] #279 closed

[2018-12-10 17:03] nip3o opened #281 "Clearing record cache in LimitingHandlerMixin fails on Python 3"
We just got this exception in our production environment:

https://github.com/getlogbook/logbook/blob/develop/logbook/handlers.py#L502
`'dict_items' object has no attribute 'sort'`

This seems reasonable since Python 3 returns a dict item object rather than a list of objects (https://docs.python.org/3/whatsnew/3.0.html). I guess this bug has not been discovered yet since this condition very rarely

[2018-12-11 06:31] #281 closed

[2018-12-23 18:10] Lucifer1993 opened #282 "logbook with python2 and python3"
Hi, when I use under code to process log with python2 and python3, the results are completely different. only python2 logs was appended, but log was covered with python3, how about deal with???Thanks!

log.py
`
import os
import sys
import logbook
from logbook import Logger,StreamHandler,FileHandler,TimedRotatingFileHandler
from logbook.more import ColorizedStderrHandler

def log_type(record,handle

[2018-12-24 01:04] #282 closed

[2019-01-07 11:21] lgrahl opened #283 "ThreadedWrapperHandler does not forward batched emits as expected"
I noticed that the `ThreadedWrapperHandler` does not forward batch emits in *batch form*. Thus, if a `ThreadedWrapperHandler` wraps a `MailHandler`, a mail is sent for each logging entry instead of one summarising mail.

I may be able to provide a PR but let me ask first: Is this something you would like to get addressed or is the current behaviour considered *working as intended*?

---

Also, man

[2019-01-07 12:59] vmalloc commented on #283
@lgrahl Thanks for the feedback!

I think this is a reasonable change to implement. At the most naive approach this will be equivalent to a for loop with `emit`, and at the more complex scenarios this will enable all sorts of optimizations. Sounds like a good idea!

[2019-01-11 08:57] gaubert opened #285 "Stream content in one record"
Is there a way to stream some content in a unique record.
I am using logbook in a project for great benefit, thanks.
In this project, we are spawning bash script processes and getting the stdout/sderr logs of those processes.
At the moment we are keeping all stdout/stderr lines in a string buffer (StringIO) and then dumping everyting in a log book record at the end of the process execution. This i

[2019-01-11 14:20] vmalloc commented on #285
Assuming your output is line-based, the right thing to do is emit the lines one-by-one, but that would make the log slightly harder to read. Another option is to separate that output to a separate log file

[2019-01-13 20:14] gaubert commented on #285
Yes it is line base by I do not want to have a date and message type for each line. I would like to also avoid using another file if possble. is there a way to have access to the string buffer of logbook and write into it ? Then when ready call a method to release and write the message in the log file with just one date ?
If not I will continue doing as I do now, buffering everything and write all

[2019-01-14 06:17] vmalloc commented on #285
I don't fully understand what you're suggesting.... If you had access to the handler's internal stream you would be doing essentially the same thing - interleaving your output lines along with the "regular" log lines... Can you scribble a suggested API you have in mind?

[2019-01-16 15:40] jikquantopian opened #286 "Please upload 1.4.2 to PyPI"
It looks like Logbook 1.4.2 release was cut on Github over a month ago but still isn't in PyPI. Push please? Thanks.

[2019-01-16 20:44] vmalloc commented on #286
1.4.3 released.

[2019-01-16 20:44] #286 closed

[2019-01-17 12:49] jikquantopian opened #287 "How to make monitoring / rotating log handlers multiprocessing safe"
I've experimented with MultiProcessingSubscriber and MultiProcessingHandler and for whatever reason they don't always seem to work. For example, I had a huge amount of trouble getting them to work -- and ultimately didn't -- with running a Flask app under Werkzeug's `run_simple` with `processes` set to a >1 value.

It seems like much of what these classes are trying to accomplish -- though certain

[2019-01-17 12:53] vmalloc commented on #287
I think the current implementation will be very hard to proof in multiprocessing scenarios. These cases should probably make use of better logging facilities (especially things like journald/rsyslog), which are better optimized for handling high log volume from multiple producers

[2019-01-17 13:34] jikquantopian commented on #287
The person saying something can't be done should get out of the way of the person doing it.

The code above works. It just works. In the environment I'm using in, it works, 100%, every time, no matter how many processes are writing to the log file and no matter how fast or frequently they are doing it. It just works.

It will work on any Linux system writing to local log files. Full stop.

Sure, i

[2019-01-17 14:02] vmalloc commented on #287
I can't say I feel your tone was called for - I was just making an observation, not closing your issue or saying I won't have it any way. I think you could have been a little bit nicer with your response in this case.

 I was saying it because there have been a lot of issues in the rotation/thread safety area and I know people aren't pleased with it. I can't recall exactly but I think there was an

[2019-01-17 14:08] jikquantopian commented on #287
Point taken. I apologize.

I'm not sure how I can include tests showing that the issues are solved if I don't know what they are. Are you able to be more specific than "I think there was another discussion (possibly via email) around multiprocessing support"?

I can address the issues I've enumerated above, but I can't address issues I don't know about.

Also, would your preference be to incorpora

[2019-01-17 18:40] vmalloc commented on #287
Regarding the previous issues I was referring to the default rotating handler, not to your solution.
In general, I think this could have a place as a built in handler in Logbook, but there are tradeoffs which I'm still not sure what to make of, for example the high cost of an flock for each record emitting (this has a very high overhead over NFS for example.

I haven't given it much effort yet, bu

[2019-01-17 21:02] jikquantopian commented on #287
I will look at that when I get a chance.

I wouldn't recommend using this over NFS. ;-) I think it's worth trying to add this to MonitoringFileHandler and RotatingFileHandler but not the others. I'm not sure it's feasible to add it to TimedRotatingFileHandler because when there's no way for multiple processes running one of those to know if one of the other processes has already rotated.

[2019-02-11 03:45] layday opened #288 "Defer importing HTTP client"
It would be good if Logbook would defer importing the HTTP client which is pulled in by `__init__` via `helpers` to minimise the package's import time (e.g. by wrapping the import inside a function) .  The HTTP client appears to only be used by a couple of notifiers which are not exposed in `__init__`.

[2019-04-08 21:54] AndreiPashkin commented on #136
Confirming the same problem on Linux

[2019-06-19 09:18] zxfzqf commented on #273
TaggingHandler ....,It still doesn't work.. I didn't find an example of work.
no one responded to me.
depressed……
call it quits

[2019-06-19 09:18] #273 closed

[2019-08-03 06:55] plzak commented on #280
I have also encountered a similar problem with TimedRotatingFileHandler. It occurs only when `logbook.set_datetime_format("local")` is used. According to the description of this bug, the cause might be the same.
My problem can be reproduced like this (for timezone ahead of UTC):
1/ Wait until local time rolls over midnight, so now the date is different in UTC zone (e.g. 01.11.2018) and local zone

[2019-08-16 12:06] iwoloschin opened #294 "New Release With ContextVars Support"
Is there any chance that a new release (1.5?) could be cut including #290 now that it's merged?  If not, is there a roadmap for additional items that must be completed before release (aka, what can I do to help)?

Thanks!

[2019-08-20 03:40] vmalloc commented on #294
I will release one today. However I have no time to actually test it in real use, so I'd appreciate help in spotting possible regressions

[2019-08-20 10:35] iwoloschin commented on #294
I did one very brief test that worked fine, with both `threadbound` and `contextbound` logging, but it's hardly a fully regression test suite.

[2019-08-20 20:26] iwoloschin commented on #294
I think the release may have overwritten the 1.4.3 release?  Also, the source tarball wasn't upgraded (which I believe I need as I'm installing into an Alpine container).

[2019-08-21 03:31] vmalloc commented on #294
I don't know about the 1.4.3 tag being overwritten -- I was the one who released it AFAIR and I didn't change the tag locally...

About the sdist, I think there is a problem with pypi deployment on Travis. I moved several repos of mine to use twine instead of travis deploy which is crap, but I don't have time to do it for Logbook as well right now. I'm uploading the release manually, and hopefully

[2019-08-21 03:38] vmalloc commented on #294
Ok, I think I understand what happened here... I'm going to have to re-release 1.4.3 to fix it

[2019-08-21 04:37] vmalloc commented on #294
Hopefully everything should be fine now. I fixed the Travis deployment debacle, deleted the bad 1.4.3 release and released 1.5.2 which should be good.
Unfortunately one cannot re-upload a past release so I released 1.4.4 to replace 1.4.3 in the 1.4.x release line...
Let me know if there are still issues needing attention. Thanks!

[2019-08-21 04:37] #294 closed

[2019-08-21 06:55] danielhers opened #295 "Release 1.4.3 is gone"
[code]
I just updated the `logbook` version in [my project](https://github.com/huji-nlp/tupa) to 1.5.2, but unfortunately, previous tagged versions (also released on PyPI) actually pin the version to 1.4.3, so now they all fail installation.

Any chance 1.4.3 can be brought back? Are there any other steps I can take as a solution to the problem except going back to all my tagged versions, unpinnin

[2019-08-21 07:31] vmalloc commented on #295
Unfortunately that is correct. Due to an issue I don't fully understand the release got corrupted this morning (Travis builds were very erratic, and I think somehow pypi allowed uploading newer code under the 1.4.3 name). I wasn't able to re-upload the correct release, so I had to delete it to avoid breaking things for lots of people.

I published both 1.5.2 and 1.4.4, the latter replacing 1.4.3 f

[2019-08-21 07:35] danielhers commented on #295
Thanks, @vmalloc, for the quick response. I'll make sure to avoid pinning to a specific version from now on...

[2019-08-21 07:37] vmalloc commented on #295
@danielhers I understand this is not always possible (e.g. lockfiles) but when it is, you can use `<1.5` -- Logbook follows SemVer so that ensures you get the latest bugfixes without making the jump to new functionality or breaking changes

[2019-08-21 18:07] prometheanfire commented on #295
Even bad releases should not be removed as it breaks others CI.  I know you can't re-upload the release (and have a post1 version up now), but in the future just do the post1 release and move on.

[2019-08-21 18:07] prometheanfire commented on #295
see https://review.opendev.org/677730 for downstream impact.

[2019-08-21 18:37] vmalloc commented on #295
First, I once again apologize for that. I made a call given a quick experiment I made showed that using == did not pick up the post release in my environment, which is what triggered my decision to remove it.

I’ll avoid it in the future of course, but the way I see it pypi is at fault here. Either corrupting an existing release should be impossible, or re-uploading a release to fix it should be p

[2019-08-21 18:39] prometheanfire commented on #295
true, though that doesn't excuse the removal imo.  have you raised the pypi issue upstream?

[2019-08-21 19:04] vmalloc commented on #295
For anyone coming here to scold me and make me feel bad (or feeling better with themselves for making me feel worse) - there's really no need. I already feel pretty bad about what happened, I realize I made a mistake, and of course understand the impacts of removing releases. I understood it before as well, I just made a bad call when weighing risks. It happens to many people, myself included.

I'

[2019-08-21 19:11] vmalloc commented on #295
And to answer @prometheanfire, I am still trying to figure out what exactly went wrong with the original push. I think the issue was that the 1.4.3 travis build has been broken long ago, and we fixed it in develop. Then the 1.5.0 release contained version 1.4.3 internally, which made it upload a release for 1.4.3. That is the part I'm still not 100% sure why worked, because a working release exist

[2019-08-21 19:17] prometheanfire commented on #295
sounds good, thanks

[2019-08-22 14:37] ovianao commented on #295
@vmalloc, thanks for supporting on your free time. :+1:

[2019-09-18 16:55] RazerM opened #296 "Add license to PyPI trove classifiers"
I can submit a PR if you like.

[2019-10-01 20:53] nhoad opened #298 "TimedRotatingFileHandler and RotatingFileHandler open new streams in the wrong mode"
TimedRotatingFileHandler and RotatingFileHandler's `perform_rollover` methods open the new stream in `w` mode, **not** `a` mode. The result is that if multiple processes are writing to logs, then they start competing with each other. Here's some test code that demonstrates:

[code]

With the output showing that the mode has changed:

[code]

Is there a reason that both of these methods not do `sel

[2019-10-16 14:07] ayalash opened #300 "Usage of deprecated API of SQLAlchemy - FromClause.count"
[code]

[2019-10-16 14:10] ayalash commented on #300
Relevant SQLAlchemy code:
https://github.com/sqlalchemy/sqlalchemy/blob/0e9da6ee8d54bd0cde9ef3fb1ce3bceca841624f/lib/sqlalchemy/sql/selectable.py#L339-L366

[2019-10-30 02:09] halexan opened #301 "TicketingHandler MySQL 8.0 encode warning"
Hi,

When I use TicketingHandler with MySQL 8. A warning is raised, like this

`Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")`

It seems that MySQL 8 has switched from UTF8MB3 to UTF8MB4 as the default charset. So how to remove this warning?

My code is a

[2019-11-21 07:36] YoavCohen opened #303 "Any good reason why milliseconds are drop when redirect to logging?"
I notice that converter functions remove milliseconds info.

Thanks

[2019-11-21 08:29] #303 closed

[2019-11-22 03:30] #301 closed

[2020-01-08 21:29] gseismic commented on #240
Yes
logbook.queue source code:
 45     def __init__(self, host='127.0.0.1', port=6379, key='redis',
 46                  extra_fields=None, flush_threshold=128, flush_time=1,
 47                  level=NOTSET, filter=None, password=False, bubble=True,
 48                  context=None, push_method='rpush'):
 49         Handler.__init__(self, level, filter, bubble)

Here: flush_time, default value

[2020-01-14 15:56] nhoad commented on #298
Can I get an update on this? This is causing a lot of issues for me.

[2020-01-22 16:31] #220 closed

[2020-02-11 11:53] anton-tagunov opened #307 "cython is not run when the library is installed using easy_install / pip"
During installation i have got the following.
[code]
As far as I understand the cython is run only from the make file, but the make tool is not run during pip/easy_install. What is the reason for this? Why cython is not called directly from setup.py?

My local experiments shows that theses changes are required
[code]

[2020-04-25 09:33] mgorny opened #308 "Brotli support does not work if brotlipy is installed"
Apparently both `brotli` and `brotlipy` use the same name, except the former installs `brotli.py` module and the latter `brotli/` package. Therefore, the latter takes precedence if installed, and breaks logbook:

[code]

This is a major problem since brotlipy is required by hyper-h2.

[2020-04-25 10:09] mgorny opened #309 "The package falls apart if contextvars are installed"
If `contextvars` happen to be installed on the system, the package seems to stop working completely. Most of the tests are failing, and some are just hanging. I've had to use `pytest-timeout` plugin to get the suite to finish:

[code]

Full output: [36.txt](https://github.com/getlogbook/logbook/files/4532755/36.txt)

Easy repro:
[code]

[2020-04-25 10:10] mgorny commented on #308
Easy repro:
[code]

[2020-04-26 10:22] mgorny opened #310 "test_asyncio_context_management[True] fails w/ py3.7+ if gevent is installed"
[code]

To repro:
[code]

[2020-04-26 10:23] mgorny commented on #310
Oh, forgot to mention it happens with py3.7 and py3.8, not py3.6.

[2020-05-04 13:34] Frame42 opened #311 "TimedRotatingFileHandler append in local time"
Hi,

I'm trying to set up a TimeRotationgFileHandler to append to one logfile per hour. It works fine in UTS, but if I set the time to local, the log file is overwritten every time.

`import logbook

logbook.set_datetime_format("local")

handler1 = logbook.TimedRotatingFileHandler("service.log", date_format="%Y-%m-%d_%H", mode='a')

handler1.push_application()
logbook.Logger("Logger1").info("First

[2020-06-09 03:57] mikeckennedy opened #312 "Add an enumeration for log levels?"
Hi folks. I'm a big fan of this library! But I always end up creating something to store the log levels in a reliable way. I'd like to write code like this, using a clear class offering autocomplete (potentially docstrings, etc):

<img width="611" alt="Screen Shot 2020-06-08 at 8 53 45 PM" src="https://user-images.githubusercontent.com/2035561/84104315-2d7ee400-a9ca-11ea-880f-b6f29cd528b2.png">

T

[2020-10-02 14:11] #288 closed

[2021-01-12 18:53] matan129 commented on #310
[I was the original contributor of that feature]
Probably because `gevent` and the builtin `contextvars` module (Python 3.7+) aren't compatible. This explains why the tests succeed in Python 3.6.

It's an easy fix IMHO, we just have to consider `gevent` (or even use [`gevent.contextvars`](http://www.gevent.org/api/gevent.contextvars.html)) in [concurrency.py](https://github.com/getlogbook/logbook/

[2021-07-12 17:43] pombredanne opened #317 "Is this project still active?"
Hi:
I am looking at a project that depends on this and logbook seems to be a flatliner.
Is this is still maintained?

See https://github.com/mkorman90/regipy/issues/171

[2021-08-03 08:57] RazerM commented on #309
The `contextvars` backport on PyPI does not support asyncio:

If you disable `test_asyncio_context_management`, then the test suite works again.

[2021-08-03 09:19] RazerM commented on #308
brotlipy was renamed to brotlicffi

[2021-08-14 08:15] kloczek opened #318 "1.5.3: pytest is failing"
I'm trying to package your module as rpm packag. So I'm using typical in such case build, install and test cycle used on building package from non-root account:
- "setup.py build"
- "setup.py install --root </install/prefix>"
- "pytest with PYTHONPATH pointing to sitearch and sitelib inside </install/prefix>

May I ask for help because few units are failing:
[code]

[2021-08-14 08:23] kloczek opened #319 "1.5.3: sphinx warnings"
[code]

[2022-01-13 14:03] kloczek commented on #318
pytest seems still is failing but now I have onlty one failing unit
[code]

[2022-01-13 14:08] kloczek opened #321 "1.5.3: pep517 build issue"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes oly locally installed modules

Looks like there is no proper procedure to generate logbook/_speedups.c.
He

[2022-02-09 13:52] t1user opened #322 "Type annotations needed."
Title says it all.

[2022-02-15 09:03] sarimmehdi opened #323 "Does this do logging without blocking the calling thread?"
The standard python logging module blocks the calling thread. Does this one do logging without blocking the calling thread (async logging)?

[2022-06-17 12:50] visch commented on #136
Hit this on Windows, running with DBT. Had a large number of threads (14), and I believe the log directory is over the network

[code]